node.exe : npm warn Unknown env config "devdir". This will stop working in the next major version of npm. See `npm 
help npmrc` for supported config options.
At line:1 char:1
+ & "C:\Program Files\nodejs/node.exe" "C:\Program Files\nodejs/node_mo ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (npm warn Unknow...config options.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- SEC SWP import for tenant 0ab73907-7cb3-4cbc-8b29-05f6f531190a

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-05') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪┤╪ذ┘â╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘┘à╪┤╪ص┘ê┘╪ر',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪┤╪ذ┘â╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘┘à╪┤╪ص┘ê┘╪ر ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à : 10-SWP-MN-OH',
      steps = '[{"step":1,"text":"╪د╪»╪«╪د┘ ╪ش╪»┘ê┘ ╪د┘╪╣┘à┘ ╪ص╪│╪ذ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘ê ╪د┘╪╖┘╪ذ╪د╪ز ╪د┘╪«╪د╪▒╪ش┘è╪ر"},{"step":2,"text":"╪╖╪ذ╪د╪╣╪ر ┘┘à┘ê╪░╪ش ╪د┘╪╣┘à┘ ┘ê ╪د╪«╪░ ╪«╪▒┘è╪╖╪ر ╪د┘┘à┘ê┘é╪╣"},{"step":3,"text":"┘╪ص╪╡ ╪د┘╪│┘è╪د╪▒╪ر ┘ê ╪ز╪╣╪ذ╪خ╪ر ╪د┘┘┘à╪د╪░╪ش ╪د┘┘à╪╣╪ز┘à╪»╪ر"},{"step":4,"text":"┘╪ص╪╡ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘ê┘à┘╪د╪ذ╪│"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪│╪ذ╪ر ╪د┘╪ث┘à┘╪د╪ص"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر/╪ز╪«┘┘è┘ ╪╢╪║╪╖"},{"step":7,"text":"┘ê╪╢╪╣ ╪د┘╪ص┘ê╪د╪ش╪▓ ┘ê┘┘ê╪ص╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒"},{"step":8,"text":"┘╪ص╪╡ ╪د┘╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪│╪ز╪«╪»┘à ┘ê╪د╪ص┘â╪د┘à ╪د┘"},{"step":9,"text":"╪ز╪╖╪ذ┘è┘é ╪«╪╖╪ر ┘à┘╪╣ ╪د┘╪│┘é┘ê╪╖ ┘ê╪«╪╖╪ر"},{"step":10,"text":"┘╪ص╪╡ ┘ê ╪د╪│╪ز╪«╪»╪د┘à ╪ص╪▓╪د┘à ╪د┘╪│┘╪د┘à╪ر ┘é╪ذ┘ ╪د┘╪╡╪╣┘ê╪» ╪ذ╪د┘╪│┘╪ر"},{"step":11,"text":"╪د┘╪ز┘é┘è╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘╪«┘┘ê╪╡ ╪د┘╪ت┘à┘╪ر ╪ز╪ث╪▒┘è╪╢ ╪┤╪د╪ص┘╪ر ╪║╪│┘è┘"},{"step":12,"text":"╪د┘╪د┘ ╪▒ ╪ز╪د┘à ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘╪│┘è╪د┘é╪ر ╪د┘┘ê┘é╪د╪خ┘è╪ر"},{"step":13,"text":"╪ز╪│┘┘è┘à ╪د┘ê╪▒╪د┘é ╪د┘╪╣┘à┘ ╪ذ╪╣╪» ╪ز╪│╪ش┘è┘ ┘à╪د ╪ز┘à ╪╣┘┘è┘ç╪د ┘à┘ ╪د╪ش╪▒╪د╪ة"},{"step":14,"text":"╪ز╪│┘┘è┘à ╪د┘┘à╪╣╪»╪ر ┘┘┘à┘╪د╪ص╪╕"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-05';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-OH-05', '╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪┤╪ذ┘â╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘┘à╪┤╪ص┘ê┘╪ر', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪┤╪ذ┘â╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘┘à╪┤╪ص┘ê┘╪ر ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à : 10-SWP-MN-OH',
      '[{"step":1,"text":"╪د╪»╪«╪د┘ ╪ش╪»┘ê┘ ╪د┘╪╣┘à┘ ╪ص╪│╪ذ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘ê ╪د┘╪╖┘╪ذ╪د╪ز ╪د┘╪«╪د╪▒╪ش┘è╪ر"},{"step":2,"text":"╪╖╪ذ╪د╪╣╪ر ┘┘à┘ê╪░╪ش ╪د┘╪╣┘à┘ ┘ê ╪د╪«╪░ ╪«╪▒┘è╪╖╪ر ╪د┘┘à┘ê┘é╪╣"},{"step":3,"text":"┘╪ص╪╡ ╪د┘╪│┘è╪د╪▒╪ر ┘ê ╪ز╪╣╪ذ╪خ╪ر ╪د┘┘┘à╪د╪░╪ش ╪د┘┘à╪╣╪ز┘à╪»╪ر"},{"step":4,"text":"┘╪ص╪╡ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘ê┘à┘╪د╪ذ╪│"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪│╪ذ╪ر ╪د┘╪ث┘à┘╪د╪ص"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر/╪ز╪«┘┘è┘ ╪╢╪║╪╖"},{"step":7,"text":"┘ê╪╢╪╣ ╪د┘╪ص┘ê╪د╪ش╪▓ ┘ê┘┘ê╪ص╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒"},{"step":8,"text":"┘╪ص╪╡ ╪د┘╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪│╪ز╪«╪»┘à ┘ê╪د╪ص┘â╪د┘à ╪د┘"},{"step":9,"text":"╪ز╪╖╪ذ┘è┘é ╪«╪╖╪ر ┘à┘╪╣ ╪د┘╪│┘é┘ê╪╖ ┘ê╪«╪╖╪ر"},{"step":10,"text":"┘╪ص╪╡ ┘ê ╪د╪│╪ز╪«╪»╪د┘à ╪ص╪▓╪د┘à ╪د┘╪│┘╪د┘à╪ر ┘é╪ذ┘ ╪د┘╪╡╪╣┘ê╪» ╪ذ╪د┘╪│┘╪ر"},{"step":11,"text":"╪د┘╪ز┘é┘è╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘╪«┘┘ê╪╡ ╪د┘╪ت┘à┘╪ر ╪ز╪ث╪▒┘è╪╢ ╪┤╪د╪ص┘╪ر ╪║╪│┘è┘"},{"step":12,"text":"╪د┘╪د┘ ╪▒ ╪ز╪د┘à ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘╪│┘è╪د┘é╪ر ╪د┘┘ê┘é╪د╪خ┘è╪ر"},{"step":13,"text":"╪ز╪│┘┘è┘à ╪د┘ê╪▒╪د┘é ╪د┘╪╣┘à┘ ╪ذ╪╣╪» ╪ز╪│╪ش┘è┘ ┘à╪د ╪ز┘à ╪╣┘┘è┘ç╪د ┘à┘ ╪د╪ش╪▒╪د╪ة"},{"step":14,"text":"╪ز╪│┘┘è┘à ╪د┘┘à╪╣╪»╪ر ┘┘┘à┘╪د╪ص╪╕"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-SS-05') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ╪د┘╪«╪د╪╡╪ر ╪ذ╪د┘┘é╪د╪╖╪╣ ╪د┘╪▒╪خ┘è╪│┘è (╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è)',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ╪د┘╪«╪د╪╡╪ر ╪ذ╪د┘┘é╪د╪╖╪╣ ╪د┘╪▒╪خ┘è╪│┘è (╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è) ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ / ╪»╪د╪خ╪▒╪ر ╪د┘╪ز╪┤╪║┘è┘ ┘ê╪د┘┘à╪│╪د┘╪»╪ر 	╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 01/01/2026 ╪د┘╪ز╪د╪▒┘è╪«: ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ┘à┘ç╪»┘è ╪░┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪» / ╪«╪د┘╪» ╪ذ╪د╪»┘è / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 02-SWP-OP-HT ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à.  ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è ╪د┘╪ز╪د╪▒┘è╪«:',
      steps = '[{"step":1,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘à┘╪د╪│╪ذ╪ر ╪د┘┘à┘ç┘à╪ر ┘┘╪«╪ذ╪▒╪ر ╪د┘╪╣┘à┘┘è╪ر"},{"step":2,"text":"Order (╪د┘à╪▒ ╪د┘╪ز╪┤╪║┘è┘"},{"step":3,"text":"╪د┘╪ز╪ص╪╢┘è╪▒ ┘ê╪د┘╪د╪│╪ز╪╣╪»╪د╪» ┘┘┘à┘ç┘à╪ر:"},{"step":4,"text":"╪د┘╪ح┘è╪ش╪د╪ذ┘è )╪د╪ز┘é╪د┘"},{"step":5,"text":"╪د╪ز╪ذ╪د╪╣ ╪ز╪╣┘┘è┘à╪د╪ز ┘ê╪ث┘╪╕┘à╪ر ╪د┘╪د╪│╪ز╪«╪»╪د┘à ┘ê╪د┘╪│┘è╪▒ ╪ذ╪د┘┘à╪▒┘â╪ذ╪ر."},{"step":6,"text":"╪ش╪د┘ç╪▓┘è╪ر ┘à╪┤╪▒┘ ╪د┘┘à┘ê┘é╪╣ ┘ê╪╖╪د┘é┘à ╪د┘╪╣┘à┘."},{"step":7,"text":"╪▒┘╪╣ ╪ز╪ث╪▒┘è╪╢ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è:"},{"step":8,"text":"╪د╪»╪«╪د┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è ┘╪»╪د╪«┘ ╪د┘┘à┘é╪╡┘ê╪▒╪ر:"},{"step":9,"text":"╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è:"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-SS-05';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-SS-05', '╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ╪د┘╪«╪د╪╡╪ر ╪ذ╪د┘┘é╪د╪╖╪╣ ╪د┘╪▒╪خ┘è╪│┘è (╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è)', '╪╡┘è╪د┘╪ر',
      '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ╪د┘╪«╪د╪╡╪ر ╪ذ╪د┘┘é╪د╪╖╪╣ ╪د┘╪▒╪خ┘è╪│┘è (╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è) ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ / ╪»╪د╪خ╪▒╪ر ╪د┘╪ز╪┤╪║┘è┘ ┘ê╪د┘┘à╪│╪د┘╪»╪ر 	╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 01/01/2026 ╪د┘╪ز╪د╪▒┘è╪«: ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ┘à┘ç╪»┘è ╪░┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪» / ╪«╪د┘╪» ╪ذ╪د╪»┘è / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 02-SWP-OP-HT ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à.  ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è ╪د┘╪ز╪د╪▒┘è╪«:',
      '[{"step":1,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘à┘╪د╪│╪ذ╪ر ╪د┘┘à┘ç┘à╪ر ┘┘╪«╪ذ╪▒╪ر ╪د┘╪╣┘à┘┘è╪ر"},{"step":2,"text":"Order (╪د┘à╪▒ ╪د┘╪ز╪┤╪║┘è┘"},{"step":3,"text":"╪د┘╪ز╪ص╪╢┘è╪▒ ┘ê╪د┘╪د╪│╪ز╪╣╪»╪د╪» ┘┘┘à┘ç┘à╪ر:"},{"step":4,"text":"╪د┘╪ح┘è╪ش╪د╪ذ┘è )╪د╪ز┘é╪د┘"},{"step":5,"text":"╪د╪ز╪ذ╪د╪╣ ╪ز╪╣┘┘è┘à╪د╪ز ┘ê╪ث┘╪╕┘à╪ر ╪د┘╪د╪│╪ز╪«╪»╪د┘à ┘ê╪د┘╪│┘è╪▒ ╪ذ╪د┘┘à╪▒┘â╪ذ╪ر."},{"step":6,"text":"╪ش╪د┘ç╪▓┘è╪ر ┘à╪┤╪▒┘ ╪د┘┘à┘ê┘é╪╣ ┘ê╪╖╪د┘é┘à ╪د┘╪╣┘à┘."},{"step":7,"text":"╪▒┘╪╣ ╪ز╪ث╪▒┘è╪╢ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è:"},{"step":8,"text":"╪د╪»╪«╪د┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è ┘╪»╪د╪«┘ ╪د┘┘à┘é╪╡┘ê╪▒╪ر:"},{"step":9,"text":"╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è:"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-01') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪║╪╖┘è╪ر ╪╣┘┘ë ┘à┘ê╪╡┘╪د╪ز ╪د┘╪ش┘ç┘ê╪» ╪د┘┘à╪ز┘ê╪│╪╖╪ر',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪║╪╖┘è╪ر ╪╣┘┘ë ┘à┘ê╪╡┘╪د╪ز ╪د┘╪ش┘ç┘ê╪» ╪د┘┘à╪ز┘ê╪│╪╖╪ر ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 06-SWP-MN-OH',
      steps = '[{"step":1,"text":"╪د╪»╪«╪د┘ ╪ش╪»┘ê┘ ╪د┘╪╣┘à┘ ╪ص╪│╪ذ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘ê ╪د┘╪╖┘╪ذ╪د╪ز"},{"step":2,"text":"╪╖╪ذ╪د╪╣╪ر ┘┘à┘ê╪░╪ش ╪د┘╪╣┘à┘"},{"step":3,"text":"┘╪ص╪╡ ╪د┘╪│┘è╪د╪▒╪ر"},{"step":4,"text":"┘╪ص╪╡ ╪د╪»┘ê╪د╪ز ╪د┘╪│┘╪د┘à╪ر ┘ê╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪»┘ç╪د ┘ê"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪د┘┘à┘ê╪د╪» ╪د┘┘╪د╪▓┘à╪ر ┘┘╪╣┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر"},{"step":7,"text":"╪د┘┘ê┘é┘ê┘ ╪د┘╪د┘à┘ ┘┘╪│┘è╪د╪▒╪ر ┘ê╪د┘┘à╪╣╪»╪ر ┘ê╪ز╪▒┘â┘è╪ذ ╪د╪»┘ê╪د╪ز ┘┘ê╪ص╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒ ┘ê╪د┘╪د┘╪ز╪ذ╪د┘ç ┘┘╪╖╪▒┘è┘é"},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪╡┘╪د╪ص┘è╪ر ╪ذ╪╖╪د┘é╪ر ╪د┘┘à╪┤╪║┘ ┘╪ز╪│┘┘è┘à ╪د╪░┘ ╪د┘╪╣┘à┘ ┘é╪ذ┘ ╪د┘╪د╪│╪ز┘╪د┘à"},{"step":9,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘â╪د╪ذ┘ ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪ر ┘ê╪▒╪ذ╪╖┘ç ┘à╪╣"},{"step":10,"text":"┘ê ╪د╪│╪ز╪«╪»╪د┘à"},{"step":11,"text":"┘╪ص╪╡ ╪د┘╪«╪╖ ╪د┘┘ç┘ê╪د"},{"step":12,"text":"╪ذ╪╣╪» ┘╪ص╪╡ ╪د┘╪«╪╖"},{"step":13,"text":"╪د╪▒╪ز╪»╪د╪ة ╪ص╪░╪د╪ة"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪▓╪د┘╪ر ╪ش┘à┘è╪╣ ╪د┘╪د╪»┘ê╪د╪ز"},{"step":15,"text":"╪د╪▓╪د┘╪ر ┘â╪د╪ذ┘ ╪د┘╪ز╪ث╪▒┘è╪╢"},{"step":16,"text":"╪د╪ذ╪╣╪د╪» ╪د┘┘à╪╣╪»╪د╪ز"},{"step":17,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر"},{"step":18,"text":"╪ز╪│┘┘è┘à ╪د┘ê╪▒╪د┘é ╪د┘╪╣┘à┘ ╪ذ╪╣╪» ╪ز╪│╪ش┘è┘ ┘à╪د ╪ز┘à ╪╣┘┘è┘ç╪د ┘à┘ ╪د╪ش╪▒╪د╪ة"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-01';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-OH-01', '╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪║╪╖┘è╪ر ╪╣┘┘ë ┘à┘ê╪╡┘╪د╪ز ╪د┘╪ش┘ç┘ê╪» ╪د┘┘à╪ز┘ê╪│╪╖╪ر', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪║╪╖┘è╪ر ╪╣┘┘ë ┘à┘ê╪╡┘╪د╪ز ╪د┘╪ش┘ç┘ê╪» ╪د┘┘à╪ز┘ê╪│╪╖╪ر ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 06-SWP-MN-OH',
      '[{"step":1,"text":"╪د╪»╪«╪د┘ ╪ش╪»┘ê┘ ╪د┘╪╣┘à┘ ╪ص╪│╪ذ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘ê ╪د┘╪╖┘╪ذ╪د╪ز"},{"step":2,"text":"╪╖╪ذ╪د╪╣╪ر ┘┘à┘ê╪░╪ش ╪د┘╪╣┘à┘"},{"step":3,"text":"┘╪ص╪╡ ╪د┘╪│┘è╪د╪▒╪ر"},{"step":4,"text":"┘╪ص╪╡ ╪د╪»┘ê╪د╪ز ╪د┘╪│┘╪د┘à╪ر ┘ê╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪»┘ç╪د ┘ê"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪د┘┘à┘ê╪د╪» ╪د┘┘╪د╪▓┘à╪ر ┘┘╪╣┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر"},{"step":7,"text":"╪د┘┘ê┘é┘ê┘ ╪د┘╪د┘à┘ ┘┘╪│┘è╪د╪▒╪ر ┘ê╪د┘┘à╪╣╪»╪ر ┘ê╪ز╪▒┘â┘è╪ذ ╪د╪»┘ê╪د╪ز ┘┘ê╪ص╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒ ┘ê╪د┘╪د┘╪ز╪ذ╪د┘ç ┘┘╪╖╪▒┘è┘é"},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪╡┘╪د╪ص┘è╪ر ╪ذ╪╖╪د┘é╪ر ╪د┘┘à╪┤╪║┘ ┘╪ز╪│┘┘è┘à ╪د╪░┘ ╪د┘╪╣┘à┘ ┘é╪ذ┘ ╪د┘╪د╪│╪ز┘╪د┘à"},{"step":9,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘â╪د╪ذ┘ ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪ر ┘ê╪▒╪ذ╪╖┘ç ┘à╪╣"},{"step":10,"text":"┘ê ╪د╪│╪ز╪«╪»╪د┘à"},{"step":11,"text":"┘╪ص╪╡ ╪د┘╪«╪╖ ╪د┘┘ç┘ê╪د"},{"step":12,"text":"╪ذ╪╣╪» ┘╪ص╪╡ ╪د┘╪«╪╖"},{"step":13,"text":"╪د╪▒╪ز╪»╪د╪ة ╪ص╪░╪د╪ة"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪▓╪د┘╪ر ╪ش┘à┘è╪╣ ╪د┘╪د╪»┘ê╪د╪ز"},{"step":15,"text":"╪د╪▓╪د┘╪ر ┘â╪د╪ذ┘ ╪د┘╪ز╪ث╪▒┘è╪╢"},{"step":16,"text":"╪د╪ذ╪╣╪د╪» ╪د┘┘à╪╣╪»╪د╪ز"},{"step":17,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ز╪╣┘┘è┘à╪د╪ز ╪د┘┘é┘è╪د╪»╪ر ╪د┘╪د┘à┘╪ر"},{"step":18,"text":"╪ز╪│┘┘è┘à ╪د┘ê╪▒╪د┘é ╪د┘╪╣┘à┘ ╪ذ╪╣╪» ╪ز╪│╪ش┘è┘ ┘à╪د ╪ز┘à ╪╣┘┘è┘ç╪د ┘à┘ ╪د╪ش╪▒╪د╪ة"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-OP-HT-04') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ┘┘┘à╪ص┘ê┘ ╪د┘┘à╪╣┘┘é) ┘╪╡┘/╪╣╪▓┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é(',
      work_type = '╪ز╪┤╪║┘è┘',
      description = '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ┘┘┘à╪ص┘ê┘ ╪د┘┘à╪╣┘┘é) ┘╪╡┘/╪╣╪▓┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é( ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ / ╪»╪د╪خ╪▒╪ر ╪د┘╪ز╪┤╪║┘è┘ ┘ê╪د┘┘à╪│╪د┘╪»╪ر	╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ز╪د╪▒┘è╪« 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ┘à┘ç╪»┘è ╪░┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪» / ╪«╪د┘╪» ╪ذ╪د╪»┘è / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 09-SWP-OP-HT ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à.  ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                          ╪د┘╪ز╪د╪▒┘è╪«                     01/01/2026                                          ┘à╪▒╪د╪ش╪╣╪ر: ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                            ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026',
      steps = '[{"step":1,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘à┘╪د╪│╪ذ╪ر ╪د┘┘à┘ç┘à╪ر ┘┘╪«╪ذ╪▒╪ر ╪د┘╪╣┘à┘┘è╪ر"},{"step":2,"text":")Switching Order (╪د┘à╪▒ ╪د┘╪ز╪┤╪║┘è┘"},{"step":3,"text":"╪د┘╪ز╪ص╪╢┘è╪▒ ┘ê╪د┘╪د╪│╪ز╪╣╪»╪د╪» ┘┘┘à┘ç┘à╪ر:"},{"step":4,"text":"╪د┘╪ز┘ê╪د╪╡┘ ╪د┘╪ح┘è╪ش╪د╪ذ┘è )╪د╪ز┘é╪د┘ ┘à┘ç╪د╪▒╪ر ╪د┘╪ز┘ê╪د╪╡┘.("},{"step":5,"text":"╪د╪ز╪ذ╪د╪╣ ╪ز╪╣┘┘è┘à╪د╪ز ┘ê╪ث┘╪╕┘à╪ر ╪د┘╪د╪│╪ز╪«╪»╪د┘à ┘ê╪د┘╪│┘è╪▒ ╪ذ╪د┘┘à╪▒┘â╪ذ╪ر."},{"step":6,"text":"╪ش╪د┘ç╪▓┘è╪ر ┘à╪┤╪▒┘ ╪د┘┘à┘ê┘é╪╣ ┘ê╪╖╪د┘é┘à ╪د┘╪╣┘à┘."},{"step":7,"text":"┘╪╡┘ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ )╪▓┘è╪ز┘è(:"},{"step":8,"text":"┘╪╡┘ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è )╪د╪ز┘à╪ز┘ç:( - ╪ز╪╖╪ذ┘è┘é ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘."},{"step":9,"text":"┘╪╡┘ ╪│┘â╪د┘â┘è┘ ╪د┘┘é╪╖╪╣/ ╪╡┘à╪د┘à╪د╪ز ╪د┘┘à╪╡┘ç╪▒:"},{"step":10,"text":"╪╣╪▓┘/ ╪ز╪ث╪▒┘è╪╢ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è:"},{"step":11,"text":"╪╣╪▓┘/ ╪ز╪ث╪▒┘è╪╢ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è:"},{"step":12,"text":"╪ح╪ذ┘╪د╪║ ╪د┘┘à╪▒╪ص┘ )╪د┘┘ê╪╡┘ê┘/╪د┘╪د╪│╪ز╪╣╪»╪د╪».("}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-OP-HT-04';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-OP-HT-04', '╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ┘┘┘à╪ص┘ê┘ ╪د┘┘à╪╣┘┘é) ┘╪╡┘/╪╣╪▓┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é(', '╪ز╪┤╪║┘è┘',
      '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪╣┘à┘┘è╪د╪ز ╪د┘╪ز╪┤╪║┘è┘┘è╪ر ┘┘┘à╪ص┘ê┘ ╪د┘┘à╪╣┘┘é) ┘╪╡┘/╪╣╪▓┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é( ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ / ╪»╪د╪خ╪▒╪ر ╪د┘╪ز╪┤╪║┘è┘ ┘ê╪د┘┘à╪│╪د┘╪»╪ر	╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ز╪د╪▒┘è╪« 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ┘à┘ç╪»┘è ╪░┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪» / ╪«╪د┘╪» ╪ذ╪د╪»┘è / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 09-SWP-OP-HT ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à.  ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                          ╪د┘╪ز╪د╪▒┘è╪«                     01/01/2026                                          ┘à╪▒╪د╪ش╪╣╪ر: ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                            ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026',
      '[{"step":1,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘à┘╪د╪│╪ذ╪ر ╪د┘┘à┘ç┘à╪ر ┘┘╪«╪ذ╪▒╪ر ╪د┘╪╣┘à┘┘è╪ر"},{"step":2,"text":")Switching Order (╪د┘à╪▒ ╪د┘╪ز╪┤╪║┘è┘"},{"step":3,"text":"╪د┘╪ز╪ص╪╢┘è╪▒ ┘ê╪د┘╪د╪│╪ز╪╣╪»╪د╪» ┘┘┘à┘ç┘à╪ر:"},{"step":4,"text":"╪د┘╪ز┘ê╪د╪╡┘ ╪د┘╪ح┘è╪ش╪د╪ذ┘è )╪د╪ز┘é╪د┘ ┘à┘ç╪د╪▒╪ر ╪د┘╪ز┘ê╪د╪╡┘.("},{"step":5,"text":"╪د╪ز╪ذ╪د╪╣ ╪ز╪╣┘┘è┘à╪د╪ز ┘ê╪ث┘╪╕┘à╪ر ╪د┘╪د╪│╪ز╪«╪»╪د┘à ┘ê╪د┘╪│┘è╪▒ ╪ذ╪د┘┘à╪▒┘â╪ذ╪ر."},{"step":6,"text":"╪ش╪د┘ç╪▓┘è╪ر ┘à╪┤╪▒┘ ╪د┘┘à┘ê┘é╪╣ ┘ê╪╖╪د┘é┘à ╪د┘╪╣┘à┘."},{"step":7,"text":"┘╪╡┘ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ )╪▓┘è╪ز┘è(:"},{"step":8,"text":"┘╪╡┘ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è )╪د╪ز┘à╪ز┘ç:( - ╪ز╪╖╪ذ┘è┘é ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘."},{"step":9,"text":"┘╪╡┘ ╪│┘â╪د┘â┘è┘ ╪د┘┘é╪╖╪╣/ ╪╡┘à╪د┘à╪د╪ز ╪د┘┘à╪╡┘ç╪▒:"},{"step":10,"text":"╪╣╪▓┘/ ╪ز╪ث╪▒┘è╪╢ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è:"},{"step":11,"text":"╪╣╪▓┘/ ╪ز╪ث╪▒┘è╪╢ ┘à┘╪ز╪د╪ص ┘à╪ص┘ê┘ ┘à╪ص┘┘è:"},{"step":12,"text":"╪ح╪ذ┘╪د╪║ ╪د┘┘à╪▒╪ص┘ )╪د┘┘ê╪╡┘ê┘/╪د┘╪د╪│╪ز╪╣╪»╪د╪».("}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-M-01') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à : 02-SWP-MN-MT',
      steps = '[{"step":1,"text":"╪د╪│╪ز┘╪د┘à ╪د┘╪╖┘╪ذ╪د╪ز"},{"step":3,"text":"┘è╪ز┘à ╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":6,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘"},{"step":8,"text":"╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘┘à┘╪د╪│╪ذ╪ر ┘╪ح┘╪ش╪د╪▓"},{"step":9,"text":"╪د┘┘ê┘é┘ê┘ ╪╣┘┘ë ╪د┘╪د╪▒╪╢ ┘à╪│╪ز┘ê┘è╪ر ┘ê╪ذ╪┤┘â┘ ╪د┘à┘"},{"step":10,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"},{"step":11,"text":"╪ز╪ش┘╪ذ ╪د┘╪ز┘ê╪╡┘è┘"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر"},{"step":18,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-M-01';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-M-01', '╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à : 02-SWP-MN-MT',
      '[{"step":1,"text":"╪د╪│╪ز┘╪د┘à ╪د┘╪╖┘╪ذ╪د╪ز"},{"step":3,"text":"┘è╪ز┘à ╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":6,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘"},{"step":8,"text":"╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘┘à┘╪د╪│╪ذ╪ر ┘╪ح┘╪ش╪د╪▓"},{"step":9,"text":"╪د┘┘ê┘é┘ê┘ ╪╣┘┘ë ╪د┘╪د╪▒╪╢ ┘à╪│╪ز┘ê┘è╪ر ┘ê╪ذ╪┤┘â┘ ╪د┘à┘"},{"step":10,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"},{"step":11,"text":"╪ز╪ش┘╪ذ ╪د┘╪ز┘ê╪╡┘è┘"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر"},{"step":18,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-03') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è',
      work_type = '╪ح┘╪┤╪د╪ة╪د╪ز',
      description = '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à  09-SWP-CN-PRJ 	╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à . ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                                              ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026                      ┘à╪▒╪د╪ش╪╣╪ر :  ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                                                   ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ث╪ش┘ç╪▓╪ر ╪ز┘┘╪│',
      steps = '[{"step":1,"text":"╪▒┘é┘à ╪د┘╪«╪╖┘ê╪ر"},{"step":2,"text":"╪╣╪»┘à ╪د┘╪╣┘à┘ ╪ذ╪»┘ê┘ ╪ث╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪│┘┘è┘à╪ر ┘ê╪ز╪┤┘à┘ )╪د┘┘é┘╪د╪▓╪د╪ز ╪د┘┘à╪╣╪▓┘ê┘╪ر╪î ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر("},{"step":3,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":4,"text":"╪د╪ص╪ز╪▒╪د┘é╪î ┘é╪╡╪▒ ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç ╪î╪د┘╪╣┘è┘┘è┘╪î ╪د┘┘è╪»┘è┘╪î ╪د┘┘é╪»┘à┘è┘╪î ╪د┘╪ش╪│┘à."},{"step":5,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘╪│┘┘è┘à╪ر ┘╪ش┘à┘è╪╣ ╪د┘┘┘┘è┘è┘ ┘ê╪د┘┘à┘é╪د┘ê┘┘è┘"},{"step":6,"text":"╪╣╪»┘à ╪د┘╪│┘à╪د╪ص ┘╪»╪«┘ê┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘╪║┘è╪▒ ╪د┘┘à╪«╪ز╪╡┘è┘"},{"step":7,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":8,"text":"╪╣╪»┘à ╪ز┘à┘â┘è┘ ╪ث╪┤╪«╪د╪╡ ╪║┘è╪▒ ┘à╪╡╪▒╪ص"},{"step":9,"text":"╪ذ╪د┘╪╣┘à┘/╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪╕╪د┘à┘è╪ر ╪د┘╪╣┘à╪د┘╪ر ┘┘è ╪د┘┘à┘ê┘é╪╣/╪╣╪»┘à ┘╪ز╪ص ╪د┘ê ╪د┘é┘╪د┘ ╪ث┘è ╪╡┘à╪د┘à╪د╪ز ╪د┘ê ┘à┘╪د╪ز┘è╪ص ┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ╪د┘ê ╪ز╪┤╪║┘è┘ ╪ث┘è ┘é╪╖╪╣╪ر ┘┘è ┘à┘╪┤╪ت╪ز ╪د┘╪┤╪▒┘â╪ر ┘┘è ╪ص╪د┘ ╪╣╪»┘à ┘ê╪ش┘ê╪» ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ╪د┘┘à╪«╪╡╪╡ ┘╪░┘┘â ┘ê╪ذ╪┤╪▒╪╖ ╪د┘╪د ╪ذ╪ش╪▒┘è ╪░┘┘â ╪د┘╪د ╪ز╪ص╪ز ╪ح╪┤╪▒╪د┘ ┘à┘╪د╪ص╪╕ ╪د┘╪ز╪┤╪║┘è┘"},{"step":10,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":11,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪│┘é┘ê╪╖ ╪د╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪î╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘╪ش╪│┘à."},{"step":12,"text":"╪ز╪ث┘à┘è┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":13,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘┘é┘╪د╪▓╪د╪ز ╪د┘┘à╪╣╪▓┘ê┘╪ر╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر.("},{"step":14,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":15,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪ش╪▒╪ص╪î ╪│┘é┘ê╪╖╪î ╪د╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç╪î ╪د┘╪╣┘è┘┘è┘╪î ╪د┘╪ش╪│┘à."},{"step":16,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪╣╪▓┘ ┘à╪╡╪»╪▒ ╪د┘╪ز╪║╪░┘è╪ر ┘ê╪د╪ز╪ش╪د┘ç ╪د┘╪»┘ê╪▒╪د┘"},{"step":17,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪ص┘â╪د┘à ╪د┘╪ث┘é┘╪د┘ ╪د┘┘à╪╣╪▓┘ê┘╪ر ┘ê╪د╪│╪ز┘╪د┘à ╪ذ╪╖╪د┘é╪ر ╪د┘╪ز┘ê┘é┘è┘ ┘┘â┘ ┘┘é╪╖╪ر ╪╣╪▓┘."},{"step":18,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":19,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è"},{"step":20,"text":"┘ê╪╢╪╣ ╪د┘┘é┘┘ ╪░┘ê ╪د┘┘┘ê┘ ╪د┘╪ث╪╡┘╪▒ ┘à┘ ┘é╪ذ┘ ┘à┘╪ز╪┤ ╪د┘┘à┘ê╪د┘é╪╣ ┘ê╪د┘┘┘ê┘ ╪د┘╪ث╪▓╪▒┘é ┘à┘ ┘é╪ذ┘ ╪د┘┘à┘é╪د┘ê┘ ╪╣┘┘ë ╪ش┘à┘è╪╣ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘"},{"step":21,"text":"╪ز╪╖╪ذ┘è┘é ╪«╪╖┘ê╪د╪ز ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ┘ê╪د┘╪ز╪ث┘â╪» ┘à┘ ┘â╪ز╪د╪ذ╪ر ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ╪╣┘┘ë ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘."},{"step":22,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":23,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è"},{"step":24,"text":"╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘"},{"step":25,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪ز╪╣┘è┘è┘ ╪د┘┘à╪ص╪د┘è╪» ┘ê┘à╪╣╪▒┘╪ر ╪د┘╪د╪╖┘ê╪د╪▒ ┘ê╪ز╪ص╪»┘è╪»┘ç╪د"},{"step":26,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":27,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص"},{"step":28,"text":"╪ز╪ص╪»┘è╪» ╪د┘╪ث╪╖┘ê╪د╪▒ ┘ê╪د┘┘à╪ص╪د┘è╪» ┘╪»┘ê╪د╪خ╪▒ ╪د┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ┘ê╪د┘┘à╪ز┘ê╪│╪╖"},{"step":29,"text":"Page 1 of 3"},{"step":30,"text":"Rev. 01 [May - 2020]"},{"step":31,"text":"Approved Document"},{"step":32,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘╪ز╪▒┘é┘è┘à ╪د┘╪╡╪ص┘è╪ص ┘┘╪»╪د┘ê╪خ╪▒ ╪د┘┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر"},{"step":33,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":34,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص"},{"step":35,"text":"╪ز╪▒┘é┘è┘à ╪د┘╪«╪╖┘ê╪╖ ┘┘╪»┘ê╪د╪خ╪▒ ╪د┘┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢"},{"step":36,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘à┘ ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘ ┘ê╪ص╪░╪د╪ة ╪│┘╪د┘à╪ر ╪î ┘ê ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر."},{"step":37,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":38,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص ╪î ╪│┘é┘ê╪╖"},{"step":39,"text":"┘╪╡┘ ┘ê╪ح╪▓╪د┘╪ر ╪ش┘à┘è╪╣ ╪د┘┘â╪د╪ذ┘╪د╪ز ┘ê╪د┘┘à┘ê╪╡┘╪د╪ز ╪د┘┘à╪▒╪ز╪ذ╪╖╪ر ╪ذ╪د┘┘à╪╣╪»╪ر"},{"step":40,"text":"╪د┘╪ص╪░╪▒ ╪د╪س┘╪د╪ة ┘┘é┘ ╪د┘┘à╪ص┘ê┘ ╪ح┘┘ë ┘à╪╣╪»╪ر ╪د┘╪▒╪د┘╪╣╪ر."}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-03';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-CN-PRJ-03', '╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è', '╪ح┘╪┤╪د╪ة╪د╪ز',
      '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à  09-SWP-CN-PRJ 	╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à . ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                                              ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026                      ┘à╪▒╪د╪ش╪╣╪ر :  ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                                                   ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ث╪ش┘ç╪▓╪ر ╪ز┘┘╪│',
      '[{"step":1,"text":"╪▒┘é┘à ╪د┘╪«╪╖┘ê╪ر"},{"step":2,"text":"╪╣╪»┘à ╪د┘╪╣┘à┘ ╪ذ╪»┘ê┘ ╪ث╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪│┘┘è┘à╪ر ┘ê╪ز╪┤┘à┘ )╪د┘┘é┘╪د╪▓╪د╪ز ╪د┘┘à╪╣╪▓┘ê┘╪ر╪î ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر("},{"step":3,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":4,"text":"╪د╪ص╪ز╪▒╪د┘é╪î ┘é╪╡╪▒ ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç ╪î╪د┘╪╣┘è┘┘è┘╪î ╪د┘┘è╪»┘è┘╪î ╪د┘┘é╪»┘à┘è┘╪î ╪د┘╪ش╪│┘à."},{"step":5,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘╪│┘┘è┘à╪ر ┘╪ش┘à┘è╪╣ ╪د┘┘┘┘è┘è┘ ┘ê╪د┘┘à┘é╪د┘ê┘┘è┘"},{"step":6,"text":"╪╣╪»┘à ╪د┘╪│┘à╪د╪ص ┘╪»╪«┘ê┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘╪║┘è╪▒ ╪د┘┘à╪«╪ز╪╡┘è┘"},{"step":7,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":8,"text":"╪╣╪»┘à ╪ز┘à┘â┘è┘ ╪ث╪┤╪«╪د╪╡ ╪║┘è╪▒ ┘à╪╡╪▒╪ص"},{"step":9,"text":"╪ذ╪د┘╪╣┘à┘/╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪╕╪د┘à┘è╪ر ╪د┘╪╣┘à╪د┘╪ر ┘┘è ╪د┘┘à┘ê┘é╪╣/╪╣╪»┘à ┘╪ز╪ص ╪د┘ê ╪د┘é┘╪د┘ ╪ث┘è ╪╡┘à╪د┘à╪د╪ز ╪د┘ê ┘à┘╪د╪ز┘è╪ص ┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ╪د┘ê ╪ز╪┤╪║┘è┘ ╪ث┘è ┘é╪╖╪╣╪ر ┘┘è ┘à┘╪┤╪ت╪ز ╪د┘╪┤╪▒┘â╪ر ┘┘è ╪ص╪د┘ ╪╣╪»┘à ┘ê╪ش┘ê╪» ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ╪د┘┘à╪«╪╡╪╡ ┘╪░┘┘â ┘ê╪ذ╪┤╪▒╪╖ ╪د┘╪د ╪ذ╪ش╪▒┘è ╪░┘┘â ╪د┘╪د ╪ز╪ص╪ز ╪ح╪┤╪▒╪د┘ ┘à┘╪د╪ص╪╕ ╪د┘╪ز╪┤╪║┘è┘"},{"step":10,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":11,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪│┘é┘ê╪╖ ╪د╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪î╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘╪ش╪│┘à."},{"step":12,"text":"╪ز╪ث┘à┘è┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":13,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘┘é┘╪د╪▓╪د╪ز ╪د┘┘à╪╣╪▓┘ê┘╪ر╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر.("},{"step":14,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":15,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è╪î ╪ش╪▒╪ص╪î ╪│┘é┘ê╪╖╪î ╪د╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç╪î ╪د┘╪╣┘è┘┘è┘╪î ╪د┘╪ش╪│┘à."},{"step":16,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪╣╪▓┘ ┘à╪╡╪»╪▒ ╪د┘╪ز╪║╪░┘è╪ر ┘ê╪د╪ز╪ش╪د┘ç ╪د┘╪»┘ê╪▒╪د┘"},{"step":17,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪ص┘â╪د┘à ╪د┘╪ث┘é┘╪د┘ ╪د┘┘à╪╣╪▓┘ê┘╪ر ┘ê╪د╪│╪ز┘╪د┘à ╪ذ╪╖╪د┘é╪ر ╪د┘╪ز┘ê┘é┘è┘ ┘┘â┘ ┘┘é╪╖╪ر ╪╣╪▓┘."},{"step":18,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":19,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è"},{"step":20,"text":"┘ê╪╢╪╣ ╪د┘┘é┘┘ ╪░┘ê ╪د┘┘┘ê┘ ╪د┘╪ث╪╡┘╪▒ ┘à┘ ┘é╪ذ┘ ┘à┘╪ز╪┤ ╪د┘┘à┘ê╪د┘é╪╣ ┘ê╪د┘┘┘ê┘ ╪د┘╪ث╪▓╪▒┘é ┘à┘ ┘é╪ذ┘ ╪د┘┘à┘é╪د┘ê┘ ╪╣┘┘ë ╪ش┘à┘è╪╣ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘"},{"step":21,"text":"╪ز╪╖╪ذ┘è┘é ╪«╪╖┘ê╪د╪ز ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ┘ê╪د┘╪ز╪ث┘â╪» ┘à┘ ┘â╪ز╪د╪ذ╪ر ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ╪╣┘┘ë ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘."},{"step":22,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":23,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è"},{"step":24,"text":"╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘"},{"step":25,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪ز╪╣┘è┘è┘ ╪د┘┘à╪ص╪د┘è╪» ┘ê┘à╪╣╪▒┘╪ر ╪د┘╪د╪╖┘ê╪د╪▒ ┘ê╪ز╪ص╪»┘è╪»┘ç╪د"},{"step":26,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":27,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص"},{"step":28,"text":"╪ز╪ص╪»┘è╪» ╪د┘╪ث╪╖┘ê╪د╪▒ ┘ê╪د┘┘à╪ص╪د┘è╪» ┘╪»┘ê╪د╪خ╪▒ ╪د┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ┘ê╪د┘┘à╪ز┘ê╪│╪╖"},{"step":29,"text":"Page 1 of 3"},{"step":30,"text":"Rev. 01 [May - 2020]"},{"step":31,"text":"Approved Document"},{"step":32,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘╪ز╪▒┘é┘è┘à ╪د┘╪╡╪ص┘è╪ص ┘┘╪»╪د┘ê╪خ╪▒ ╪د┘┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر"},{"step":33,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":34,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص"},{"step":35,"text":"╪ز╪▒┘é┘è┘à ╪د┘╪«╪╖┘ê╪╖ ┘┘╪»┘ê╪د╪خ╪▒ ╪د┘┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢"},{"step":36,"text":"╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘à┘ ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘ ┘ê╪ص╪░╪د╪ة ╪│┘╪د┘à╪ر ╪î ┘ê ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر."},{"step":37,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":38,"text":"╪د╪╡╪د╪ذ╪ر╪î ╪ش╪▒╪ص ╪î ╪│┘é┘ê╪╖"},{"step":39,"text":"┘╪╡┘ ┘ê╪ح╪▓╪د┘╪ر ╪ش┘à┘è╪╣ ╪د┘┘â╪د╪ذ┘╪د╪ز ┘ê╪د┘┘à┘ê╪╡┘╪د╪ز ╪د┘┘à╪▒╪ز╪ذ╪╖╪ر ╪ذ╪د┘┘à╪╣╪»╪ر"},{"step":40,"text":"╪د┘╪ص╪░╪▒ ╪د╪س┘╪د╪ة ┘┘é┘ ╪د┘┘à╪ص┘ê┘ ╪ح┘┘ë ┘à╪╣╪»╪ر ╪د┘╪▒╪د┘╪╣╪ر."}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-19') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖',
      work_type = '╪ح┘╪┤╪د╪ة╪د╪ز',
      description = 'Classified as Confidential Internal by SEC - )╪د┘ ╪▒╪┤┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة ┘à╪╡┘┘ ┘à┘é┘è╪» )╪»╪د╪« ┘è┘ ╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر : ╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘',
      steps = '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘ / ╪╣┘à┘ ╪╖╪د╪▒╪خ"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"┘╪ذ╪│ ┘à┘ç┘à╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":6,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":9,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":10,"text":"╪د╪«┘╪د╪ة ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒"},{"step":11,"text":"╪د┘╪د╪ذ╪ز╪╣╪د╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘à┘╪ر ╪╣┘ ╪د╪»┘ê╪د╪ز ╪د┘┘╪ص╪╡"},{"step":12,"text":"╪د┘╪د╪ذ╪ز╪╣╪د╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘à┘╪ر ╪╣┘ ╪د┘┘à┘ê┘é╪╣"},{"step":13,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘ ╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘à╪ج┘ç┘ ┘┘è ┘ê"},{"step":15,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘ ╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘à╪ج┘ç┘ ┘┘è ┘ê"},{"step":16,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":17,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":18,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-19';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-CN-PRJ-19', '╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖', '╪ح┘╪┤╪د╪ة╪د╪ز',
      'Classified as Confidential Internal by SEC - )╪د┘ ╪▒╪┤┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة ┘à╪╡┘┘ ┘à┘é┘è╪» )╪»╪د╪« ┘è┘ ╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر : ╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ ╪د┘╪ز╪د╪▒┘è╪« : 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘',
      '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘ / ╪╣┘à┘ ╪╖╪د╪▒╪خ"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"┘╪ذ╪│ ┘à┘ç┘à╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":6,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":9,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":10,"text":"╪د╪«┘╪د╪ة ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒"},{"step":11,"text":"╪د┘╪د╪ذ╪ز╪╣╪د╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘à┘╪ر ╪╣┘ ╪د╪»┘ê╪د╪ز ╪د┘┘╪ص╪╡"},{"step":12,"text":"╪د┘╪د╪ذ╪ز╪╣╪د╪» ╪ذ┘à╪│╪د┘╪ر ╪د┘à┘╪ر ╪╣┘ ╪د┘┘à┘ê┘é╪╣"},{"step":13,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘ ╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘à╪ج┘ç┘ ┘┘è ┘ê"},{"step":15,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘ ╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ┘┘è ┘à╪ج┘ç┘ ┘┘è ┘ê"},{"step":16,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":17,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":18,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-C-07') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د╪╣┘à╪د┘ ╪د┘╪ص┘╪▒ ┘ê╪د┘╪▒╪»┘à',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪╣┘à╪د┘ ╪د┘╪ص┘╪▒ ┘ê╪د┘╪▒╪»┘à ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 0101/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 12-SWP-MN-C',
      steps = '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘ / ╪╣┘à┘ ╪╖╪د╪▒╪خ"},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":4,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":5,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç"},{"step":6,"text":"┘╪ذ╪│ ┘à┘ç┘à╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":7,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر , ╪د┘┘é┘╪د╪▓╪د╪ز ╪î ╪ص╪░╪د╪ة ╪د┘╪│┘╪د┘à╪ر ("},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘ ╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡ ."},{"step":9,"text":"╪د┘╪د╪│╪ز╪╣╪د┘╪ر ╪ذ╪د┘┘à╪▒┘ê╪▒ ┘╪ز┘╪╕┘è┘à ┘"},{"step":10,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":11,"text":"╪╣╪▓┘ ┘ê ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘┘à╪┤╪ص┘ê┘╪ر"},{"step":12,"text":"╪╣╪▓┘ ┘ê ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘┘à╪┤╪ص┘ê┘╪ر"},{"step":13,"text":"╪د╪«┘╪د╪ة ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒"},{"step":14,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":15,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":16,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-C-07';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-C-07', '╪د╪╣┘à╪د┘ ╪د┘╪ص┘╪▒ ┘ê╪د┘╪▒╪»┘à', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪╣┘à╪د┘ ╪د┘╪ص┘╪▒ ┘ê╪د┘╪▒╪»┘à ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 0101/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 12-SWP-MN-C',
      '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘ / ╪╣┘à┘ ╪╖╪د╪▒╪خ"},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":4,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":5,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç"},{"step":6,"text":"┘╪ذ╪│ ┘à┘ç┘à╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":7,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر , ╪د┘┘é┘╪د╪▓╪د╪ز ╪î ╪ص╪░╪د╪ة ╪د┘╪│┘╪د┘à╪ر ("},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘ ╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡ ."},{"step":9,"text":"╪د┘╪د╪│╪ز╪╣╪د┘╪ر ╪ذ╪د┘┘à╪▒┘ê╪▒ ┘╪ز┘╪╕┘è┘à ┘"},{"step":10,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":11,"text":"╪╣╪▓┘ ┘ê ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘┘à╪┤╪ص┘ê┘╪ر"},{"step":12,"text":"╪╣╪▓┘ ┘ê ╪ز╪ث╪▒┘è╪╢ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘┘à╪┤╪ص┘ê┘╪ر"},{"step":13,"text":"╪د╪«┘╪د╪ة ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒"},{"step":14,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":15,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"},{"step":16,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-OP-HT-11') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡',
      work_type = '╪ز╪┤╪║┘è┘',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡ ╪د┘╪ز╪د╪▒┘è╪« :  01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« :                         01/01/2026 ╪ح╪╣╪»╪د╪»:  ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘ ظô ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è- ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ- ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ظô ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪«╪د┘╪» ┘à╪│┘è╪ذ ظô ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪»',
      steps = '[{"step":1,"text":"╪د╪│╪ز┘╪د┘à ╪د┘╪╖┘╪ذ╪د╪ز ┘┘è ╪د┘┘à┘â╪ز╪ذ ╪╣┘ ╪╖╪▒┘è┘é ╪د┘╪╕┘à╪ر"},{"step":3,"text":"┘è╪ز┘à ╪┤╪▒╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘┘è┘ ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":6,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز"},{"step":7,"text":"╪ز╪ص╪»┘è╪» ┘┘é╪╖╪ر ╪ز╪ش┘à╪╣ ┘┘è ╪ص╪د┘╪ر ╪د┘╪╖┘ê╪د╪▒╪خ"},{"step":8,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘┘à┘╪د╪│╪ذ╪ر ┘╪ح┘╪ش╪د╪▓"},{"step":9,"text":"╪د┘┘ê┘é┘ê┘ ╪╣┘┘ë ╪د┘╪د╪▒╪╢ ┘à╪│╪ز┘ê┘è╪ر ┘ê╪ذ╪┤┘â┘ ╪د┘à┘"},{"step":10,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"},{"step":11,"text":"╪ز╪ش┘╪ذ ╪د┘╪ز┘ê╪╡┘è┘ ╪د┘╪«╪╖╪ث ┘╪ش┘ç╪د╪▓ ╪د┘┘é┘è╪د╪│"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر"},{"step":18,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-OP-HT-11';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-OP-HT-11', '╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡', '╪ز╪┤╪║┘è┘',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê ╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر :╪ث╪╣┘à╪د┘ ┘╪ص╪╡ ╪د┘╪╣╪»╪د╪»╪د╪ز ┘╪ص╪╡ ╪»┘é╪ر ╪د┘╪╣╪»╪د╪» ╪ذ╪ش┘ç╪د╪▓ ╪د┘┘╪ص╪╡ ╪د┘╪ز╪د╪▒┘è╪« :  01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪« :                         01/01/2026 ╪ح╪╣╪»╪د╪»:  ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘ ظô ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è- ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ- ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è ظô ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪«╪د┘╪» ┘à╪│┘è╪ذ ظô ┘à╪┤┘ç┘ê╪▒ ╪│╪╣┘ê╪»',
      '[{"step":1,"text":"╪د╪│╪ز┘╪د┘à ╪د┘╪╖┘╪ذ╪د╪ز ┘┘è ╪د┘┘à┘â╪ز╪ذ ╪╣┘ ╪╖╪▒┘è┘é ╪د┘╪╕┘à╪ر"},{"step":3,"text":"┘è╪ز┘à ╪┤╪▒╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘┘è┘ ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":6,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز"},{"step":7,"text":"╪ز╪ص╪»┘è╪» ┘┘é╪╖╪ر ╪ز╪ش┘à╪╣ ┘┘è ╪ص╪د┘╪ر ╪د┘╪╖┘ê╪د╪▒╪خ"},{"step":8,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘┘à┘╪د╪│╪ذ╪ر ┘╪ح┘╪ش╪د╪▓"},{"step":9,"text":"╪د┘┘ê┘é┘ê┘ ╪╣┘┘ë ╪د┘╪د╪▒╪╢ ┘à╪│╪ز┘ê┘è╪ر ┘ê╪ذ╪┤┘â┘ ╪د┘à┘"},{"step":10,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"},{"step":11,"text":"╪ز╪ش┘╪ذ ╪د┘╪ز┘ê╪╡┘è┘ ╪د┘╪«╪╖╪ث ┘╪ش┘ç╪د╪▓ ╪د┘┘é┘è╪د╪│"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر"},{"step":18,"text":"╪ز╪ش┘╪ذ ╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪╣╪»╪» ╪د┘╪ز╪د┘┘╪ر"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-12') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ┘┘╪ز╪▒╪ذ╪ر )╪ص┘╪▒-╪ز╪│┘ê┘è╪ر ╪ز╪▒╪╡┘è╪╡ ظô ╪│┘┘╪ز╪ر(',
      work_type = '╪ح┘╪┤╪د╪ة╪د╪ز',
      description = '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ┘┘╪ز╪▒╪ذ╪ر )╪ص┘╪▒-╪ز╪│┘ê┘è╪ر ╪ز╪▒╪╡┘è╪╡ ظô ╪│┘┘╪ز╪ر( ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à  17-SWP-CN-PRJ ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à . ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                             ╪د┘╪ز╪د╪▒┘è╪«:    01/01/2026                  ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪┤╪▒┘: ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                                                          ╪د┘╪ز╪د╪▒┘è╪«: :    01/01/2026 ╪ث╪ش┘ç╪▓╪ر ╪ز┘┘╪│',
      steps = '[{"step":1,"text":"╪▒┘é┘à ╪د┘╪«╪╖┘ê╪ر"},{"step":2,"text":"╪╣╪»┘à ╪د┘╪╣┘à┘ ╪ذ╪»┘ê┘ ╪ث╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪│┘┘è┘à╪ر ) ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر("},{"step":3,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":4,"text":"╪د╪ص╪ز╪▒╪د┘é╪î ┘é╪╡╪▒ ┘â┘ç╪▒╪ذ╪د╪خ┘è ╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç ╪î╪د┘╪╣┘è┘┘è┘ ╪î ╪د┘┘è╪»┘è┘ ╪î ╪د┘┘é╪»┘à┘è┘ ╪î ╪د┘╪ش╪│┘à."},{"step":5,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘╪│┘┘è┘à╪ر ┘╪ش┘à┘è╪╣ ╪د┘┘┘┘è┘è┘ ┘ê╪د┘┘à┘é╪د┘ê┘┘è┘"},{"step":6,"text":"╪╣╪»┘à ╪د┘╪│┘à╪د╪ص ┘╪»╪«┘ê┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘╪║┘è╪▒ ╪د┘┘à╪«╪ز╪╡┘è┘."},{"step":7,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":8,"text":"╪╣╪»┘à ╪ز┘à┘â┘è┘ ╪ث╪┤╪«╪د╪╡ ╪║┘è╪▒ ┘à╪╡╪▒╪ص"},{"step":9,"text":"╪ذ╪د┘╪╣┘à┘/╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪╕╪د┘à┘è╪ر ╪د┘╪╣┘à╪د┘╪ر ┘┘è ╪د┘┘à┘ê┘é╪╣/╪╣╪»┘à ┘╪ز╪ص ╪د┘ê ╪د┘é┘╪د┘ ╪ث┘è ╪╡┘à╪د┘à╪د╪ز ╪د┘ê ┘à┘╪د╪ز┘è╪ص ┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ╪د┘ê ╪ز╪┤╪║┘è┘ ╪ث┘è ┘é╪╖╪╣╪ر ┘┘è ┘à┘╪┤╪ت╪ز ╪د┘╪┤╪▒┘â╪ر ┘┘è ╪ص╪د┘ ╪╣╪»┘à ┘ê╪ش┘ê╪» ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ╪د┘┘à╪«╪╡╪╡ ┘╪░┘┘â ┘ê╪ذ╪┤╪▒╪╖ ╪د┘╪د ╪ذ╪ش╪▒┘è ╪░┘┘â ╪د┘╪د ╪ز╪ص╪ز ╪ح╪┤╪▒╪د┘ ┘à┘╪د╪ص╪╕ ╪د┘╪ز╪┤╪║┘è┘"},{"step":10,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":11,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è ╪î ╪│┘é┘ê╪╖ ╪د╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘╪ش╪│┘à."},{"step":12,"text":"╪ز╪ث┘à┘è┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":13,"text":"╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘."},{"step":14,"text":"╪د╪▒╪ز╪»╪د╪ة ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘à┘ ╪│╪»╪د╪»╪د╪ز ╪د┘╪د╪░┘ )╪╣┘╪» ╪د┘╪ص╪د╪ش╪ر( ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒╪î ┘╪╕╪د╪▒╪ر ┘ê╪د┘é┘è╪ر ┘┘╪╣┘è┘┘è┘."},{"step":15,"text":"╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ┘╪ز┘é┘┘è┘ ┘â┘à┘è╪ر ╪د┘╪║╪ذ╪د╪▒ ╪د┘┘╪د╪ز╪ش ┘à┘ ╪د┘╪ص┘╪▒"},{"step":16,"text":"┘╪ص╪╡ ┘ê╪╡┘è╪د┘╪ر ┘à╪╣╪»╪د╪ز ╪د┘╪ص┘╪▒ ╪ذ╪┤┘â┘ ╪»┘ê╪▒┘è."},{"step":17,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":18,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ز╪▒╪ذ╪ر ╪î ╪│┘é┘ê╪╖ ╪د┘╪╣╪د┘à┘┘è┘ ┘┘è ╪د┘╪ص┘╪▒╪ر ╪î ╪د┘╪د┘ç╪ز╪▓╪د╪▓ ┘ê╪د┘╪د╪▓╪╣╪د╪ش ╪د┘┘╪د╪ز╪ش ┘à┘ ╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒╪î ╪د┘╪║╪ذ╪د╪▒ ╪د┘╪░┘è ┘è╪ج╪س╪▒ ╪╣┘┘ë ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ╪د┘ê ╪د┘╪ز┘ç╪د╪ذ ╪د┘╪╣┘è┘┘è┘."},{"step":19,"text":"╪ص┘╪▒  ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":20,"text":"Page 1 of 4"},{"step":21,"text":"Rev. 01 [May - 2020]"},{"step":22,"text":"Approved Document"},{"step":23,"text":"╪ز┘ê╪▓┘è╪╣ ╪د┘╪╣┘à┘ ╪╣┘┘ë ╪ث┘â╪ذ╪▒ ┘é╪»╪▒ ┘à┘ ╪د┘┘à┘ê╪╕┘┘è┘ ┘╪ز┘é┘┘è┘ ┘╪ز╪▒╪ر ╪د┘╪ز╪╣╪▒╪╢ ┘┘╪د┘ç╪ز╪▓╪د╪▓╪د╪ز ┘ê╪د┘╪╢╪ش┘è╪ش ."},{"step":24,"text":"╪ث╪«╪░ ╪▒╪د╪ص╪ر ╪«┘╪د┘ ┘ê┘é╪ز ╪د┘╪╣┘à┘ ╪د┘┘è┘ê┘à┘è ┘╪ز┘é┘┘è┘ ┘╪ز╪▒╪ر ╪د┘╪ز╪╣╪▒╪╢ ┘┘╪د┘ç╪ز╪▓╪د╪▓╪د╪ز ┘ê ╪د┘╪╢╪ش┘è╪ش."},{"step":25,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":26,"text":"╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘."},{"step":27,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":28,"text":"╪ش╪▒╪ص ╪ذ╪│┘è╪╖ ╪î ╪د╪╡╪د╪ذ╪ر ╪î ╪ز┘┘"},{"step":29,"text":"╪ح╪▓╪د┘╪ر ┘à╪«┘┘╪د╪ز ╪د┘╪ص┘╪▒ ┘à┘ ╪د┘┘à┘ê┘é╪╣"},{"step":30,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":31,"text":"╪د┘┘é┘è╪د┘à ╪ذ╪╣┘à┘  ╪د┘┘à┘ç┘à╪ر ╪د┘┘à╪╖┘┘ê╪ذ╪ر ╪ص╪│╪ذ ╪د┘╪د╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪«╪د╪╡╪ر ╪ذ┘ç╪د ╪╣┘┘ë ╪│╪ذ┘è┘ ╪د┘┘à╪س╪د┘ )╪│╪ص╪ذ ┘ê╪ز┘à╪»┘è╪» ╪د┘┘â┘è╪ذ┘("},{"step":32,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒."},{"step":33,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":34,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ث╪▒╪╢ ╪î ╪ش╪▒╪ص ╪ذ╪│┘è╪╖╪î  ╪ص╪▒┘ê┘é ╪î╪د╪╡╪د╪ذ╪ر ╪î ╪│┘é┘ê╪╖  ┘┘è ╪د┘╪ص┘╪▒╪ر ╪î ╪د┘╪║╪ذ╪د╪▒ ╪د┘╪░┘è ┘è╪ج╪س╪▒ ╪╣┘┘ë ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ╪د┘ê ╪د┘╪ز┘ç╪د╪ذ ╪د┘╪╣┘è┘┘è┘."},{"step":35,"text":"╪ز╪║╪╖┘è╪ر ╪د┘┘â┘è╪ذ┘  ╪ذ╪د┘╪╖╪ذ┘é╪ر ╪د┘╪د┘ê┘┘ë ┘à┘ ╪د┘╪▒┘à┘"},{"step":36,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘"},{"step":37,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":38,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ث╪▒╪╢ ╪î ╪ش╪▒╪ص ╪ذ╪│┘è╪╖╪î  ╪ص╪▒┘ê┘é╪î ╪د╪╡╪د╪ذ╪ر ╪î╪│┘é┘ê╪╖  ┘┘è ╪د┘╪ص┘╪▒╪ر ."},{"step":39,"text":"┘ê╪╢╪╣ ╪┤╪▒┘è╪╖ ╪ز╪ص╪░┘è╪▒┘è ╪ث┘ê┘"},{"step":40,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒."}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-CN-PRJ-12';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-CN-PRJ-12', '╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ┘┘╪ز╪▒╪ذ╪ر )╪ص┘╪▒-╪ز╪│┘ê┘è╪ر ╪ز╪▒╪╡┘è╪╡ ظô ╪│┘┘╪ز╪ر(', '╪ح┘╪┤╪د╪ة╪د╪ز',
      '┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ┘┘╪ز╪▒╪ذ╪ر )╪ص┘╪▒-╪ز╪│┘ê┘è╪ر ╪ز╪▒╪╡┘è╪╡ ظô ╪│┘┘╪ز╪ر( ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪ح╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à  17-SWP-CN-PRJ ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪»┘è╪▒: ┘à . ╪│╪╖╪د┘à ┘╪د┘╪ص ╪د┘╪╣┘╪▓┘è                             ╪د┘╪ز╪د╪▒┘è╪«:    01/01/2026                  ╪د╪╣╪ز┘à╪د╪» ╪د┘┘à╪┤╪▒┘: ┘è╪د╪│╪▒ ╪د┘┘è┘ê╪│┘                                                          ╪د┘╪ز╪د╪▒┘è╪«: :    01/01/2026 ╪ث╪ش┘ç╪▓╪ر ╪ز┘┘╪│',
      '[{"step":1,"text":"╪▒┘é┘à ╪د┘╪«╪╖┘ê╪ر"},{"step":2,"text":"╪╣╪»┘à ╪د┘╪╣┘à┘ ╪ذ╪»┘ê┘ ╪ث╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪│┘┘è┘à╪ر ) ┘é┘╪د╪▓╪د╪ز ┘ê╪د┘é┘è╪ر ┘┘┘è╪»┘è┘╪î ╪ث╪ص╪░┘è╪ر ╪د┘╪│┘╪د┘à╪ر╪î ╪«┘ê╪░╪ر ╪│┘╪د┘à╪ر("},{"step":3,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":4,"text":"╪د╪ص╪ز╪▒╪د┘é╪î ┘é╪╡╪▒ ┘â┘ç╪▒╪ذ╪د╪خ┘è ╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘┘ê╪ش┘ç ╪î╪د┘╪╣┘è┘┘è┘ ╪î ╪د┘┘è╪»┘è┘ ╪î ╪د┘┘é╪»┘à┘è┘ ╪î ╪د┘╪ش╪│┘à."},{"step":5,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘┘à╪╣╪»╪د╪ز ┘ê╪د┘╪ث╪»┘ê╪د╪ز ╪د┘╪│┘┘è┘à╪ر ┘╪ش┘à┘è╪╣ ╪د┘┘┘┘è┘è┘ ┘ê╪د┘┘à┘é╪د┘ê┘┘è┘"},{"step":6,"text":"╪╣╪»┘à ╪د┘╪│┘à╪د╪ص ┘╪»╪«┘ê┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ┘╪║┘è╪▒ ╪د┘┘à╪«╪ز╪╡┘è┘."},{"step":7,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":8,"text":"╪╣╪»┘à ╪ز┘à┘â┘è┘ ╪ث╪┤╪«╪د╪╡ ╪║┘è╪▒ ┘à╪╡╪▒╪ص"},{"step":9,"text":"╪ذ╪د┘╪╣┘à┘/╪د┘╪ز╪ث┘â╪» ┘à┘ ┘╪╕╪د┘à┘è╪ر ╪د┘╪╣┘à╪د┘╪ر ┘┘è ╪د┘┘à┘ê┘é╪╣/╪╣╪»┘à ┘╪ز╪ص ╪د┘ê ╪د┘é┘╪د┘ ╪ث┘è ╪╡┘à╪د┘à╪د╪ز ╪د┘ê ┘à┘╪د╪ز┘è╪ص ┘â┘ç╪▒╪ذ╪د╪خ┘è╪ر ╪د┘ê ╪ز╪┤╪║┘è┘ ╪ث┘è ┘é╪╖╪╣╪ر ┘┘è ┘à┘╪┤╪ت╪ز ╪د┘╪┤╪▒┘â╪ر ┘┘è ╪ص╪د┘ ╪╣╪»┘à ┘ê╪ش┘ê╪» ╪ز╪╡╪▒┘è╪ص ╪د┘╪╣┘à┘ ╪د┘┘à╪«╪╡╪╡ ┘╪░┘┘â ┘ê╪ذ╪┤╪▒╪╖ ╪د┘╪د ╪ذ╪ش╪▒┘è ╪░┘┘â ╪د┘╪د ╪ز╪ص╪ز ╪ح╪┤╪▒╪د┘ ┘à┘╪د╪ص╪╕ ╪د┘╪ز╪┤╪║┘è┘"},{"step":10,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":11,"text":"╪╡╪╣┘é ┘â┘ç╪▒╪ذ╪د╪خ┘è ╪î ╪│┘é┘ê╪╖ ╪د╪»┘ê╪د╪ز ┘ê┘à╪╣╪»╪د╪ز ╪î ╪ح╪╡╪د╪ذ╪ر ┘┘è ╪د┘╪ش╪│┘à."},{"step":12,"text":"╪ز╪ث┘à┘è┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":13,"text":"╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘."},{"step":14,"text":"╪د╪▒╪ز╪»╪د╪ة ┘à╪╣╪»╪د╪ز ╪د┘┘ê┘é╪د┘è╪ر ╪د┘╪┤╪«╪╡┘è╪ر ┘à┘ ╪│╪»╪د╪»╪د╪ز ╪د┘╪د╪░┘ )╪╣┘╪» ╪د┘╪ص╪د╪ش╪ر( ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒╪î ┘╪╕╪د╪▒╪ر ┘ê╪د┘é┘è╪ر ┘┘╪╣┘è┘┘è┘."},{"step":15,"text":"╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ┘╪ز┘é┘┘è┘ ┘â┘à┘è╪ر ╪د┘╪║╪ذ╪د╪▒ ╪د┘┘╪د╪ز╪ش ┘à┘ ╪د┘╪ص┘╪▒"},{"step":16,"text":"┘╪ص╪╡ ┘ê╪╡┘è╪د┘╪ر ┘à╪╣╪»╪د╪ز ╪د┘╪ص┘╪▒ ╪ذ╪┤┘â┘ ╪»┘ê╪▒┘è."},{"step":17,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":18,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ز╪▒╪ذ╪ر ╪î ╪│┘é┘ê╪╖ ╪د┘╪╣╪د┘à┘┘è┘ ┘┘è ╪د┘╪ص┘╪▒╪ر ╪î ╪د┘╪د┘ç╪ز╪▓╪د╪▓ ┘ê╪د┘╪د╪▓╪╣╪د╪ش ╪د┘┘╪د╪ز╪ش ┘à┘ ╪د╪│╪ز╪«╪»╪د┘à ┘à╪╣╪»╪ر ╪د┘╪ص┘╪▒╪î ╪د┘╪║╪ذ╪د╪▒ ╪د┘╪░┘è ┘è╪ج╪س╪▒ ╪╣┘┘ë ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ╪د┘ê ╪د┘╪ز┘ç╪د╪ذ ╪د┘╪╣┘è┘┘è┘."},{"step":19,"text":"╪ص┘╪▒  ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘"},{"step":20,"text":"Page 1 of 4"},{"step":21,"text":"Rev. 01 [May - 2020]"},{"step":22,"text":"Approved Document"},{"step":23,"text":"╪ز┘ê╪▓┘è╪╣ ╪د┘╪╣┘à┘ ╪╣┘┘ë ╪ث┘â╪ذ╪▒ ┘é╪»╪▒ ┘à┘ ╪د┘┘à┘ê╪╕┘┘è┘ ┘╪ز┘é┘┘è┘ ┘╪ز╪▒╪ر ╪د┘╪ز╪╣╪▒╪╢ ┘┘╪د┘ç╪ز╪▓╪د╪▓╪د╪ز ┘ê╪د┘╪╢╪ش┘è╪ش ."},{"step":24,"text":"╪ث╪«╪░ ╪▒╪د╪ص╪ر ╪«┘╪د┘ ┘ê┘é╪ز ╪د┘╪╣┘à┘ ╪د┘┘è┘ê┘à┘è ┘╪ز┘é┘┘è┘ ┘╪ز╪▒╪ر ╪د┘╪ز╪╣╪▒╪╢ ┘┘╪د┘ç╪ز╪▓╪د╪▓╪د╪ز ┘ê ╪د┘╪╢╪ش┘è╪ش."},{"step":25,"text":"╪د╪│╪ز╪«╪»╪د┘à ╪د┘╪┤╪ذ┘â ╪د┘╪ز╪ص╪░┘è╪▒┘è ┘ê╪د┘╪╣┘╪د┘à╪د╪ز ╪د┘╪ز╪ص╪░┘è╪▒┘è╪ر ╪ص┘ê┘ ┘à┘ê┘é╪╣ ╪د┘╪╣┘à┘ ┘ê╪د┘╪ح┘╪د╪▒╪ر ┘┘è┘╪د."},{"step":26,"text":"╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘."},{"step":27,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":28,"text":"╪ش╪▒╪ص ╪ذ╪│┘è╪╖ ╪î ╪د╪╡╪د╪ذ╪ر ╪î ╪ز┘┘"},{"step":29,"text":"╪ح╪▓╪د┘╪ر ┘à╪«┘┘╪د╪ز ╪د┘╪ص┘╪▒ ┘à┘ ╪د┘┘à┘ê┘é╪╣"},{"step":30,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":31,"text":"╪د┘┘é┘è╪د┘à ╪ذ╪╣┘à┘  ╪د┘┘à┘ç┘à╪ر ╪د┘┘à╪╖┘┘ê╪ذ╪ر ╪ص╪│╪ذ ╪د┘╪د╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪«╪د╪╡╪ر ╪ذ┘ç╪د ╪╣┘┘ë ╪│╪ذ┘è┘ ╪د┘┘à╪س╪د┘ )╪│╪ص╪ذ ┘ê╪ز┘à╪»┘è╪» ╪د┘┘â┘è╪ذ┘("},{"step":32,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒."},{"step":33,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":34,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ث╪▒╪╢ ╪î ╪ش╪▒╪ص ╪ذ╪│┘è╪╖╪î  ╪ص╪▒┘ê┘é ╪î╪د╪╡╪د╪ذ╪ر ╪î ╪│┘é┘ê╪╖  ┘┘è ╪د┘╪ص┘╪▒╪ر ╪î ╪د┘╪║╪ذ╪د╪▒ ╪د┘╪░┘è ┘è╪ج╪س╪▒ ╪╣┘┘ë ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ╪د┘ê ╪د┘╪ز┘ç╪د╪ذ ╪د┘╪╣┘è┘┘è┘."},{"step":35,"text":"╪ز╪║╪╖┘è╪ر ╪د┘┘â┘è╪ذ┘  ╪ذ╪د┘╪╖╪ذ┘é╪ر ╪د┘╪د┘ê┘┘ë ┘à┘ ╪د┘╪▒┘à┘"},{"step":36,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘"},{"step":37,"text":"╪ح╪╡╪د╪ذ╪ر ظô ╪ز┘┘ ظô ╪«╪│╪د╪خ╪▒ ┘à╪د╪»┘è╪ر"},{"step":38,"text":"╪د┘┘ç┘è╪د╪▒ ╪د┘╪ث╪▒╪╢ ╪î ╪ش╪▒╪ص ╪ذ╪│┘è╪╖╪î  ╪ص╪▒┘ê┘é╪î ╪د╪╡╪د╪ذ╪ر ╪î╪│┘é┘ê╪╖  ┘┘è ╪د┘╪ص┘╪▒╪ر ."},{"step":39,"text":"┘ê╪╢╪╣ ╪┤╪▒┘è╪╖ ╪ز╪ص╪░┘è╪▒┘è ╪ث┘ê┘"},{"step":40,"text":"╪د┘╪ص╪░╪▒ ╪ث╪س┘╪د╪ة ╪د┘┘╪▓┘ê┘ ┘┘╪ص┘╪▒╪ر ╪î ╪▒╪┤ ╪د┘╪ز╪▒╪ذ╪ر ╪ذ╪د┘┘à╪د╪ة ╪î ╪ز╪ث┘à┘è┘ ┘ê╪╣╪▓┘ ┘à┘╪╖┘é╪ر ╪د┘╪╣┘à┘ ╪î ┘é┘╪د╪╣ )┘â┘à╪د┘à( ┘è╪ص┘à┘è ╪د┘╪ش┘ç╪د╪▓ ╪د┘╪ز┘┘╪│┘è ┘à┘ ╪د┘╪║╪ذ╪د╪▒."}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-06') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 01-SWP-MN-SS',
      steps = '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة("},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ╪▒┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":9,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":10,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":11,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":12,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":15,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":16,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":17,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د╪▓╪د┘╪ر ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-06';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-OH-06', '╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 01-SWP-MN-SS',
      '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة("},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ╪▒┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":9,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":10,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":11,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":12,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":14,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":15,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":16,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":17,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د╪▓╪د┘╪ر ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-08') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪د╪▓╪د┘╪ر ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢',
      work_type = '╪╡┘è╪د┘╪ر',
      description = '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪▓╪د┘╪ر ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 03-SWP-MN-SS',
      steps = '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة("},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ╪▒┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":9,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":10,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡╪î ╪╖┘╪ذ"},{"step":11,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":12,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":13,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د╪▓╪د┘╪ر ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SWP-MN-OH-08';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SWP-MN-OH-08', '╪د╪▓╪د┘╪ر ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢', '╪╡┘è╪د┘╪ر',
      '╪ز╪ص╪»┘è╪» ╪د┘╪ث╪«╪╖╪د╪▒ ┘ê╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ 07OHS-PR-02-03-F ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ┘┘ê╪╣ ╪د┘╪╣┘à┘ / ╪د┘┘à┘ç┘à╪ر: ╪د╪▓╪د┘╪ر ╪د┘┘à╪╣╪»╪د╪ز ╪د┘╪ث╪▒╪╢┘è╪ر ┘┘╪╢╪║╪╖ ╪د┘┘à┘╪«┘╪╢ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د┘╪ح╪»╪د╪▒╪ر / ╪د┘╪»╪د╪خ╪▒╪ر: ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ ╪د┘╪ز╪د╪▒┘è╪«: 01/01/2026 ╪د╪╣╪»╪د╪»: ╪╖╪د╪▒┘é ╪د┘┘à╪╖┘è╪▒┘è / ╪╣╪ذ╪» ╪د┘╪╣╪▓┘è╪▓ ╪د┘┘à╪ص╪د╪▒╪ذ / ╪«╪د┘╪» ┘à╪│┘è╪ذ / ┘à╪┤┘ç┘ê╪▒ ╪د┘╪╣┘╪▓┘è / ╪╣┘ê┘è╪» ┘à╪╣╪د╪┤┘è / ╪«╪د┘╪» ╪ذ╪د╪»┘è ╪ح╪ش╪▒╪د╪ة ╪د┘╪╣┘à┘ ╪د┘╪ت┘à┘ ╪▒┘é┘à: 03-SWP-MN-SS',
      '[{"step":1,"text":"╪ص╪│╪ذ ╪د┘┘à╪ش╪»┘ê┘"},{"step":2,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة("},{"step":3,"text":"┘╪ذ╪│ ┘à╪╣╪»╪د╪ز ╪د┘╪│┘╪د┘à╪ر ╪د┘╪┤╪«╪╡┘è╪ر )╪د┘╪«┘ê╪░╪ر, ╪د┘┘╪╕╪د╪▒╪ر, ╪د┘╪ص╪░╪د╪ة"},{"step":4,"text":"╪▒╪┤╪ص ╪د┘╪╣┘à┘ ┘ê ┘à╪«╪د╪╖╪▒┘ç ┘╪ش┘à┘è╪╣ ╪د┘╪╣╪د┘à┘ ╪▒ ╪▒┘è ┘ê ╪د┘╪ز╪ث┘â╪» ┘à┘ ╪د┘"},{"step":5,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":6,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":7,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."},{"step":8,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘"},{"step":9,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":10,"text":"╪د┘╪ز╪ث┘â╪» ╪د┘┘╪╕╪▒┘è ┘à┘ ┘┘é╪د╪╖ ╪د┘╪╣╪▓┘ ┘ê ╪د┘╪ز╪ث╪▒┘è╪╢ - ╪د┘╪ز╪ث┘â╪» ╪د┘╪»┘ê╪▒┘è ┘à┘ ╪│┘╪د┘à╪ر ╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡╪î ╪╖┘╪ذ"},{"step":11,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":12,"text":"╪د┘╪ز╪ث┘â╪» ┘à┘ ┘ê╪ش┘ê╪» ╪▒╪«╪╡╪ر ┘é┘è╪د╪»╪ر ╪│╪د╪▒┘è╪ر ╪د┘┘à┘╪╣┘ê┘"},{"step":13,"text":"╪د┘╪ز┘é┘è╪» ╪ذ╪ح╪ش╪▒╪د╪ة╪د╪ز ╪د╪▓╪د┘╪ر ╪د┘╪ح┘é┘╪د┘ ┘ê ╪ذ╪╖╪د┘é╪د╪ز ╪د┘╪ز╪╣┘┘è┘é."}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;

DO $$
BEGIN
  IF EXISTS (SELECT 1 FROM qhse_safe_work_procedures WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SEC-RISK-TEMPLATE-2025') THEN
    UPDATE qhse_safe_work_procedures SET
      title = '╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ ظ¤ ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ 2025 (╪ح┘╪┤╪د╪ة╪د╪ز + ╪╡┘è╪د┘╪ر)',
      work_type = '╪ز┘é┘è┘è┘à ┘à╪«╪د╪╖╪▒',
      description = '╪د╪│╪ز┘ê╪▒╪» ┘à┘ ( ╪د┘╪┤╪د╪ة╪د╪ز + ╪╡┘è╪د┘╪ر (╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ ┘╪د┘ـ╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ 2025.xlsx ظ¤ 80 ╪ذ┘╪»',
      steps = '[{"step":1,"text":"┘è╪د╪│╪▒ ╪╡╪د┘╪ص ╪د┘┘è┘ê╪│┘: ┘é╪د╪خ╪» ╪د┘┘╪▒┘è┘é-┘à╪ش┘à┘ê╪╣╪ر ╪د┘╪│┘╪د┘à╪ر"},{"step":2,"text":"┘ç╪د┘┘è ╪▓╪د┘è╪» ╪د┘╪▒┘ê┘è┘┘è: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪د┘╪╣┘à┘┘è╪د╪ز ┘ê╪د┘╪╡┘è╪د┘╪ر"},{"step":3,"text":"┘à╪د╪ش╪» ╪ص┘à┘ê╪» ╪د┘╪╣┘╪▓┘è: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪»╪╣┘à ╪د┘╪╣┘à┘┘è╪د╪ز ┘ê ╪د┘╪╡┘è╪د┘╪ر"},{"step":4,"text":"┘ç╪░┘┘ê┘ ╪│╪د┘┘à ╪د┘┘ç╪░┘┘ê┘: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪ز╪«╪╖┘è╪╖ ╪د┘╪┤╪ذ┘â╪د╪ز ┘ê╪د┘╪د┘╪┤╪د╪ة╪د╪ز"},{"step":5,"text":"RA-OP-HT-01: ╪▒ ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è"},{"step":6,"text":"RA-OP-HT-02: OHS-RA-07-JUF-02 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è- ╪▓┘è╪ز┘è"},{"step":7,"text":"RA-OP-HT-03: OHS-RA-07-JUF-03 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è- ╪░┘â┘è/╪║╪د╪▓┘è"},{"step":8,"text":"RA-OP-HT-04: OHS-RA-07-JUF-04 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ┘╪▒╪╣┘è ┘┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è"},{"step":9,"text":"RA-OP-HT-05: OHS-RA-07-JUF-05 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘ê╪ص╪»╪ر ╪▒╪ذ╪╖"},{"step":10,"text":"RA-OP-HT-06: OHS-RA-07-JUF-06 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é"},{"step":11,"text":"RA-OP-HT-07: OHS-RA-07-JUF-07 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪╡┘ç╪▒"},{"step":12,"text":"RA-OP-HT-08: OHS-RA-07-JUF-08 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪د┘╪د╪╣╪╖╪د┘"},{"step":13,"text":"RA-OP-HT-09: OHS-RA-07-JUF-09 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪▒╪ذ╪╖ ╪د┘┘à┘ê┘╪» ┘à╪ز┘┘é┘"},{"step":14,"text":"RA-OP-HT-10: OHS-RA-07-JUF-10 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د╪ص┘à╪د┘ ╪د┘┘à╪ص╪╖╪د╪ز"},{"step":15,"text":"RA-OP-LT-01: OHS-RA-07-JUF-11 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ╪د┘╪╣╪»╪د╪»╪د╪ز"},{"step":16,"text":"RA-OP-LT-02: OHS-RA-07-JUF-12 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ┘╪▒╪╣┘è╪ر"},{"step":17,"text":"RA-OP-LT-03: OHS-RA-07-JUF-13 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ╪▒╪خ┘è╪│┘è╪ر"},{"step":18,"text":"RA-OP-LT-04: OHS-RA-07-JUF-14 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç┘à╪ر ╪ز╪ص╪»┘è╪» ╪د┘┘à╪╡╪د╪»╪▒"},{"step":19,"text":"RA-OP-LT-05: OHS-RA-07-JUF-15 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘┘à┘ê┘╪»╪د╪ز"},{"step":20,"text":"RA-OP-LT-06: OHS-RA-07-JUF-16 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘à╪»┘è╪» ╪د┘┘â╪د╪ذ┘╪د╪ز ╪د┘┘à╪ج┘é╪ز╪ر"},{"step":21,"text":"RA-OP-LT-07: OHS-RA-07-JUF-17 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د╪ص┘à╪د┘ ╪د┘┘à╪ص╪╖╪د╪ز ╪د┘┘╪▒╪╣┘è╪ر"},{"step":22,"text":"RA-OP-LT-08: OHS-RA-07-JUF-18 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘ ┘ê╪╡┘╪ر ┘à╪│╪ز┘é┘è┘à╪ر"},{"step":23,"text":"RA-OP-LT-09: OHS-RA-07-JUF-19 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘ê╪╡┘è┘ ╪د┘┘à┘╪د╪│╪ذ╪د╪ز ╪د┘┘à╪ج┘é╪ز╪ر"},{"step":24,"text":"RA-OP-LT-10: OHS-RA-07-JUF-20 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘┘à┘╪ز╪د╪ص ╪د┘┘à╪ص┘┘è ┘┘┘ê╪ص╪»╪ر ╪د┘╪ص┘┘é┘è╪ر"},{"step":25,"text":"RA-OP-CFL-01: OHS-RA-07-JUF-21 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪╣╪╖┘ ┘┘è ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ 13.8 ┘â ┘"},{"step":26,"text":"RA-OP-CFL-02: OHS-RA-07-JUF-22 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪╣╪╖┘ ┘┘è ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":27,"text":"RA-OP-CFL-03: OHS-RA-07-JUF-23 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪ز╪╣╪▒┘è┘ ╪د┘╪د┘è╪ش╪د╪ذ┘è ┘┘┘â╪د╪ذ┘╪د╪ز"},{"step":28,"text":"RA-OP-CFL-04: OHS-RA-07-JUF-24 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪د┘┘à╪│╪د╪▒ ┘┘┘â╪د╪ذ┘╪د╪ز"},{"step":29,"text":"RA-OP-CFL-05: OHS-RA-07-JUF-25 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘╪ص╪╡ ( VLF ) ┘┘┘â╪د╪ذ┘╪د╪ز ╪د┘╪ش╪»┘è╪»╪ر ┘┘╪ش┘ç╪» ╪د┘┘à╪ز┘ê╪│╪╖"},{"step":30,"text":"RA-OP-CFL-06: OHS-RA-07-JUF-26 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪╡┘è╪د┘╪ر ╪د┘╪»┘ê╪▒┘è╪ر ┘╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡"},{"step":31,"text":"RA-OP-CFL-07: OHS-RA-07-JUF-27 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪»╪«┘ê┘ ┘ê ╪«╪▒┘ê╪ش ╪د┘╪│┘è╪د╪▒╪د╪ز ┘à┘ ╪د┘┘à┘ê┘é┘"},{"step":32,"text":"RA-CN-PRJ-01: OHS-RA-07-JUF-28 ظ¤ ┘à┘ç┘à╪ر ظ¤ Warehouse Tasks / ┘à┘ç╪د┘à ╪د┘┘à╪│╪ز┘ê╪»╪╣╪د╪ز"},{"step":33,"text":"RA-CN-PRJ-02: OHS-RA-07-JUF-29 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ╪║╪▒╪│ ╪╣╪د┘à┘ê╪» ╪ز╪ص╪ز ╪د┘╪«╪╖ ╪د┘┘ç┘ê╪د╪خ┘è / ┘à╪╣ ╪ز╪▒┘â┘è╪ذ ┘à╪╣╪»╪ر ╪ش╪»┘è╪»╪ر"},{"step":34,"text":"RA-CN-PRJ-03: OHS-RA-07-JUF-30 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╣┘à╪د┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘╪╣╪د┘à╪ر . ╪ص┘╪▒  ╪ث╪╣┘à╪»╪ر + ┘┘é┘ ┘à╪╣╪»╪د╪ز."},{"step":35,"text":"RA-CN-PRJ-04: OHS-RA-07-JUF-31 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘ê╪ز╪ش┘à┘è╪╣ ╪╡┘╪»┘ê┘é ╪╣╪»╪د╪»"},{"step":36,"text":"RA-CN-PRJ-05: OHS-RA-07-JUF-32 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪│╪ص╪ذ ┘ê ╪ز┘à╪»┘è╪» ╪د┘┘â╪د╪ذ┘╪د╪ز - ╪╣┘à┘ ┘ê╪╡┘╪ر ┘à╪│╪ز┘é┘è┘à╪ر ╪ث┘ê ┘┘ç╪د┘è╪ر ╪╖╪▒┘┘è╪ر - ╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ╪┤╪د┘à┘╪ر ╪د┘╪ص┘╪▒"},{"step":37,"text":"RA-CN-PRJ-06: OHS-RA-07-JUF-33 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪╡╪ص┘è╪ص ┘à╪│╪ز┘ê┘ë /╪ح╪▓╪د┘╪ر/ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ( EOS)  ╪ث┘ê ┘ê╪ص╪»╪ر ╪د┘┘é┘è╪د╪│ (Metering Unit)"},{"step":38,"text":"RA-CN-PRJ-07: OHS-RA-07-JUF-34 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ╪ص┘┘é┘è"},{"step":39,"text":"RA-CN-PRJ-08: OHS-RA-07-JUF-35 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à┘╪ز╪د╪ص ╪ص┘┘é┘è"},{"step":40,"text":"RA-CN-PRJ-09: OHS-RA-07-JUF-36 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪▓╪د┘╪ر/╪د╪│╪ز╪ذ╪»╪د┘ ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ╪د┘╪ش┘ç╪» ╪د┘┘à┘╪«┘╪╢ (LVP)"},{"step":41,"text":"RA-CN-PRJ-10: OHS-RA-07-JUF-37 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪╡╪ص┘è╪ص ┘à╪│╪ز┘ê┘ë/╪ح╪▓╪د┘╪ر/╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è ╪د┘┘à╪»┘à╪ش.Unit"},{"step":42,"text":"RA-CN-PRJ-11: OHS-RA-07-JUF-38 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è (INDOOR)/ ╪ذ╪║╪▒┘╪ر ┘à╪ص╪╖╪ر"},{"step":43,"text":"RA-CN-PRJ-12: OHS-RA-07-JUF-39 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪▓╪د┘╪ر - ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è"},{"step":44,"text":"RA-CN-PRJ-13: OHS-RA-07-JUF-40 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ/ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص╪╖╪ر"},{"step":45,"text":"RA-CN-PRJ-14: OHS-RA-07-JUF-41 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à╪ص┘ê┘ ╪ث╪▒╪╢┘è"},{"step":46,"text":"RA-CN-PRJ-15: OHS-RA-07-JUF-42 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘â╪د╪ذ┘ ╪╡╪د╪╣╪» ╪ش╪»┘è╪»/ Cabel Riser"},{"step":47,"text":"RA-CN-PRJ-16: OHS-RA-07-JUF-43 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à╪ص┘ê┘ ┘ç┘ê╪د╪خ┘è"},{"step":48,"text":"RA-CN-PRJ-17: OHS-RA-07-JUF-44 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪╣┘à╪»╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر"},{"step":49,"text":"RA-CN-PRJ-18: OHS-RA-07-JUF-45 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à╪» ┘ê╪┤╪» ╪د┘┘à┘ê╪╡┘ ┘ê╪د┘╪╣┘ê╪د╪▓┘ ┘┘╪«╪╖ ╪د┘┘ç┘ê╪د╪خ┘è"},{"step":50,"text":"RA-CN-PRJ-19: OHS-RA-07-JUF-46 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ┘à╪» ┘ê╪┤╪» ╪د┘┘à┘ê╪╡┘ ┘╪ز┘ê╪╡┘è┘ ┘ê╪╡┘╪ر ╪▒╪ذ╪╖ ╪ذ┘è┘ ╪د┘╪«╪╖ ╪د┘┘é╪»┘è┘à ┘ê╪د┘╪ش╪»┘è╪»"},{"step":51,"text":"RA-CN-PRJ-20: OHS-RA-07-JUF-47 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص┘ê┘ ┘ç┘ê╪د╪خ┘è"},{"step":52,"text":"RA-MN-OH-01: OHS-RA-07-JUF-48 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪ث╪╣┘à╪»╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":53,"text":"RA-MN-OH-02: OHS-RA-07-JUF-49 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘╪╣┘ê╪د╪▓┘ ┘ê┘à╪د┘╪╣╪د╪ز ╪د┘╪╡┘ê╪د╪╣┘é ┘┘╪ش┘ç╪» 13.8 ┘â ┘"},{"step":54,"text":"RA-MN-OH-03: OHS-RA-07-JUF-50 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪╖╪╣ ╪د┘╪ث╪┤╪ش╪د╪▒ ╪د┘┘é╪▒┘è╪ذ╪ر ┘à┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":55,"text":"RA-MN-OH-04: OHS-RA-07-JUF-51 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘┘ê╪د╪╡┘ ╪ذ ┘è ╪د┘┘à┘ê╪╡┘╪د╪ز ┘┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":56,"text":"RA-MN-OH-05: OHS-RA-07-JUF-52 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪╣╪د╪»╪ر ╪┤╪» ╪د┘┘à┘ê╪╡┘╪د╪ز ┘ê╪د╪│┘╪د┘â ╪د┘╪ز╪س╪ذ┘è╪ز ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":57,"text":"RA-MN-OH-06: OHS-RA-07-JUF-53 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘é╪╢┘è╪ذ ╪ز╪س╪ذ┘è╪ز 13.8 ┘â ┘"},{"step":58,"text":"RA-MN-OH-07: OHS-RA-07-JUF-54 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘╪╕┘è┘ ╪د┘┘à╪▒╪د╪ذ╪╖ ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":59,"text":"RA-MN-OH-08: OHS-RA-07-JUF-55 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ┘ç┘ê╪د╪خ┘è 13.8 ┘â ┘"},{"step":60,"text":"RA-MN-OH-09: OHS-RA-07-JUF-56 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪║┘è┘è╪▒ ┘à╪╣╪»╪ر ┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":61,"text":"RA-MN-OH-10: OHS-RA-07-JUF-57 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ذ┘è┘╪د╪ز ╪د┘╪ث╪╣╪╖╪د┘ ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":62,"text":"RA-MN-OH-11: OHS-RA-07-JUF-58 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪╣╪د╪»╪ر ╪ز╪ث╪▒┘è╪╢ ╪د┘╪د╪╣┘à╪»╪ر 13.8 ┘â ┘"},{"step":63,"text":"RA-MN-OH-12: OHS-RA-07-JUF-59 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘╪ز┘è╪┤ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘ ╪ذ╪د┘┘â╪د┘à ┘è╪د ╪د┘╪ص╪▒╪د╪▒┘è╪ر"},{"step":64,"text":"RA-MN-OH-13: OHS-RA-07-JUF-60 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘┘╪╕╪▒┘è ┘┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":65,"text":"RA-MN-OH-14: OHS-RA-07-JUF-61 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╖┘╪د╪ة ╪د┘╪د╪╣┘à╪»╪ر ╪د┘╪ص╪»┘è╪»┘è╪ر"},{"step":66,"text":"RA-MN-OH-15: OHS-RA-07-JUF-62 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":67,"text":"RA-MN-OH-16: OHS-RA-07-JUF-63 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é┘è╪د╪»╪ر ┘ê╪ز╪┤╪║┘è┘ ┘à╪╣╪»╪ر ╪║╪│┘è┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر"},{"step":68,"text":"RA-MN-C-01: OHS-RA-07-JUF-64 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ ) ╪╡╪د╪╣╪» ╪╣┘┘ë ╪╣┘à┘ê╪» ("},{"step":69,"text":"RA-MN-C-02: OHS-RA-07-JUF-65 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP )"},{"step":70,"text":"RA-MN-C-03: OHS-RA-07-JUF-66 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP"},{"step":71,"text":"RA-MN-C-04: OHS-RA-07-JUF-67 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘┘╪ز┘è╪┤ ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è ╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP"},{"step":72,"text":"RA-MN-C-05: OHS-RA-07-JUF-68 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘ê ╪╡┘è╪د┘╪ر ╪╡┘╪»┘ê┘é ╪«╪»┘à╪ر ) Service Box"},{"step":73,"text":"RA-MN-C-06: OHS-RA-07-JUF-69 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":74,"text":"RA-MN-C-07: OHS-RA-07-JUF-70 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":75,"text":"RA-MN-C-08: OHS-RA-07-JUF-71 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘┘ç╪د┘è╪ر ╪╖╪▒┘┘è╪ر ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":76,"text":"RA-MN-C-09: OHS-RA-07-JUF-72 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":77,"text":"RA-MN-C-10: OHS-RA-07-JUF-73 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":78,"text":"RA-MN-C-11: OHS-RA-07-JUF-74 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╡┘╪د╪ص ╪د┘┘┘ç╪د┘è╪ر ╪د┘╪╖╪▒┘┘è╪ر ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":79,"text":"RA-MN-SS-01: OHS-RA-07-JUF-75 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ╪د┘┘à╪ص╪╖╪ر ┘╪ز┘è╪ش╪ر ╪ز╪│╪▒┘è╪ذ ╪د┘╪▓┘è╪ز/╪د┘╪ز┘╪▒┘è╪║ ╪د┘╪ش╪▓╪خ┘è"},{"step":80,"text":"RA-MN-SS-02: OHS-RA-07-JUF-76 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د┘╪ث╪ص┘à╪د┘ ┘┘à╪ص┘ê┘╪د╪ز ╪د┘╪ز┘ê╪▓┘è╪╣"}]'::jsonb,
      approved_by = '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة',
      is_active = true,
      version = 'SEC'
    WHERE tenant_id = '0ab73907-7cb3-4cbc-8b29-05f6f531190a' AND proc_no = 'SEC-RISK-TEMPLATE-2025';
  ELSE
    INSERT INTO qhse_safe_work_procedures (tenant_id, proc_no, title, work_type, description, steps, approved_by, is_active, version)
    VALUES ('0ab73907-7cb3-4cbc-8b29-05f6f531190a', 'SEC-RISK-TEMPLATE-2025', '╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ ظ¤ ╪ح╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ 2025 (╪ح┘╪┤╪د╪ة╪د╪ز + ╪╡┘è╪د┘╪ر)', '╪ز┘é┘è┘è┘à ┘à╪«╪د╪╖╪▒',
      '╪د╪│╪ز┘ê╪▒╪» ┘à┘ ( ╪د┘╪┤╪د╪ة╪د╪ز + ╪╡┘è╪د┘╪ر (╪ز┘é┘è┘è┘à ╪د┘┘à╪«╪د╪╖╪▒ ┘╪د┘ـ╪»╪د╪▒╪ر ┘â┘ç╪▒╪ذ╪د╪ة ╪د┘╪ش┘ê┘ 2025.xlsx ظ¤ 80 ╪ذ┘╪»',
      '[{"step":1,"text":"┘è╪د╪│╪▒ ╪╡╪د┘╪ص ╪د┘┘è┘ê╪│┘: ┘é╪د╪خ╪» ╪د┘┘╪▒┘è┘é-┘à╪ش┘à┘ê╪╣╪ر ╪د┘╪│┘╪د┘à╪ر"},{"step":2,"text":"┘ç╪د┘┘è ╪▓╪د┘è╪» ╪د┘╪▒┘ê┘è┘┘è: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪د┘╪╣┘à┘┘è╪د╪ز ┘ê╪د┘╪╡┘è╪د┘╪ر"},{"step":3,"text":"┘à╪د╪ش╪» ╪ص┘à┘ê╪» ╪د┘╪╣┘╪▓┘è: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪»╪╣┘à ╪د┘╪╣┘à┘┘è╪د╪ز ┘ê ╪د┘╪╡┘è╪د┘╪ر"},{"step":4,"text":"┘ç╪░┘┘ê┘ ╪│╪د┘┘à ╪د┘┘ç╪░┘┘ê┘: ┘à╪»┘è╪▒ ╪»╪د╪خ╪▒╪ر ╪ز╪«╪╖┘è╪╖ ╪د┘╪┤╪ذ┘â╪د╪ز ┘ê╪د┘╪د┘╪┤╪د╪ة╪د╪ز"},{"step":5,"text":"RA-OP-HT-01: ╪▒ ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘é╪د╪╖╪╣ ╪▒╪خ┘è╪│┘è"},{"step":6,"text":"RA-OP-HT-02: OHS-RA-07-JUF-02 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è- ╪▓┘è╪ز┘è"},{"step":7,"text":"RA-OP-HT-03: OHS-RA-07-JUF-03 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è- ╪░┘â┘è/╪║╪د╪▓┘è"},{"step":8,"text":"RA-OP-HT-04: OHS-RA-07-JUF-04 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à┘╪ز╪د╪ص ┘╪▒╪╣┘è ┘┘à┘╪ز╪د╪ص ╪▒╪ذ╪╖ ╪ص┘┘é┘è"},{"step":9,"text":"RA-OP-HT-05: OHS-RA-07-JUF-05 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘ê╪ص╪»╪ر ╪▒╪ذ╪╖"},{"step":10,"text":"RA-OP-HT-06: OHS-RA-07-JUF-06 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘┘è╪د╪ز ╪ز╪┤╪║┘è┘ ┘à╪ص┘ê┘ ┘à╪╣┘┘é"},{"step":11,"text":"RA-OP-HT-07: OHS-RA-07-JUF-07 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪╡┘ç╪▒"},{"step":12,"text":"RA-OP-HT-08: OHS-RA-07-JUF-08 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪د┘╪د╪╣╪╖╪د┘"},{"step":13,"text":"RA-OP-HT-09: OHS-RA-07-JUF-09 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪▒╪ذ╪╖ ╪د┘┘à┘ê┘╪» ┘à╪ز┘┘é┘"},{"step":14,"text":"RA-OP-HT-10: OHS-RA-07-JUF-10 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د╪ص┘à╪د┘ ╪د┘┘à╪ص╪╖╪د╪ز"},{"step":15,"text":"RA-OP-LT-01: OHS-RA-07-JUF-11 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ╪د┘╪╣╪»╪د╪»╪د╪ز"},{"step":16,"text":"RA-OP-LT-02: OHS-RA-07-JUF-12 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ┘╪▒╪╣┘è╪ر"},{"step":17,"text":"RA-OP-LT-03: OHS-RA-07-JUF-13 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘╪╣┘à┘ ╪╣┘┘ë ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ╪▒╪خ┘è╪│┘è╪ر"},{"step":18,"text":"RA-OP-LT-04: OHS-RA-07-JUF-14 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç┘à╪ر ╪ز╪ص╪»┘è╪» ╪د┘┘à╪╡╪د╪»╪▒"},{"step":19,"text":"RA-OP-LT-05: OHS-RA-07-JUF-15 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à┘ç╪د┘à ╪د┘┘à┘ê┘╪»╪د╪ز"},{"step":20,"text":"RA-OP-LT-06: OHS-RA-07-JUF-16 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘à╪»┘è╪» ╪د┘┘â╪د╪ذ┘╪د╪ز ╪د┘┘à╪ج┘é╪ز╪ر"},{"step":21,"text":"RA-OP-LT-07: OHS-RA-07-JUF-17 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د╪ص┘à╪د┘ ╪د┘┘à╪ص╪╖╪د╪ز ╪د┘┘╪▒╪╣┘è╪ر"},{"step":22,"text":"RA-OP-LT-08: OHS-RA-07-JUF-18 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╣┘à┘ ┘ê╪╡┘╪ر ┘à╪│╪ز┘é┘è┘à╪ر"},{"step":23,"text":"RA-OP-LT-09: OHS-RA-07-JUF-19 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘ê╪╡┘è┘ ╪د┘┘à┘╪د╪│╪ذ╪د╪ز ╪د┘┘à╪ج┘é╪ز╪ر"},{"step":24,"text":"RA-OP-LT-10: OHS-RA-07-JUF-20 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘┘à┘╪ز╪د╪ص ╪د┘┘à╪ص┘┘è ┘┘┘ê╪ص╪»╪ر ╪د┘╪ص┘┘é┘è╪ر"},{"step":25,"text":"RA-OP-CFL-01: OHS-RA-07-JUF-21 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪╣╪╖┘ ┘┘è ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ 13.8 ┘â ┘"},{"step":26,"text":"RA-OP-CFL-02: OHS-RA-07-JUF-22 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪╣╪╖┘ ┘┘è ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":27,"text":"RA-OP-CFL-03: OHS-RA-07-JUF-23 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪ز╪╣╪▒┘è┘ ╪د┘╪د┘è╪ش╪د╪ذ┘è ┘┘┘â╪د╪ذ┘╪د╪ز"},{"step":28,"text":"RA-OP-CFL-04: OHS-RA-07-JUF-24 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪ص╪»┘è╪» ╪د┘┘à╪│╪د╪▒ ┘┘┘â╪د╪ذ┘╪د╪ز"},{"step":29,"text":"RA-OP-CFL-05: OHS-RA-07-JUF-25 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘╪ص╪╡ ( VLF ) ┘┘┘â╪د╪ذ┘╪د╪ز ╪د┘╪ش╪»┘è╪»╪ر ┘┘╪ش┘ç╪» ╪د┘┘à╪ز┘ê╪│╪╖"},{"step":30,"text":"RA-OP-CFL-06: OHS-RA-07-JUF-26 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪╡┘è╪د┘╪ر ╪د┘╪»┘ê╪▒┘è╪ر ┘╪ث╪ش┘ç╪▓╪ر ╪د┘┘╪ص╪╡"},{"step":31,"text":"RA-OP-CFL-07: OHS-RA-07-JUF-27 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪»╪«┘ê┘ ┘ê ╪«╪▒┘ê╪ش ╪د┘╪│┘è╪د╪▒╪د╪ز ┘à┘ ╪د┘┘à┘ê┘é┘"},{"step":32,"text":"RA-CN-PRJ-01: OHS-RA-07-JUF-28 ظ¤ ┘à┘ç┘à╪ر ظ¤ Warehouse Tasks / ┘à┘ç╪د┘à ╪د┘┘à╪│╪ز┘ê╪»╪╣╪د╪ز"},{"step":33,"text":"RA-CN-PRJ-02: OHS-RA-07-JUF-29 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ╪║╪▒╪│ ╪╣╪د┘à┘ê╪» ╪ز╪ص╪ز ╪د┘╪«╪╖ ╪د┘┘ç┘ê╪د╪خ┘è / ┘à╪╣ ╪ز╪▒┘â┘è╪ذ ┘à╪╣╪»╪ر ╪ش╪»┘è╪»╪ر"},{"step":34,"text":"RA-CN-PRJ-03: OHS-RA-07-JUF-30 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╣┘à╪د┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر ╪د┘╪╣╪د┘à╪ر . ╪ص┘╪▒  ╪ث╪╣┘à╪»╪ر + ┘┘é┘ ┘à╪╣╪»╪د╪ز."},{"step":35,"text":"RA-CN-PRJ-04: OHS-RA-07-JUF-31 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘ê╪ز╪ش┘à┘è╪╣ ╪╡┘╪»┘ê┘é ╪╣╪»╪د╪»"},{"step":36,"text":"RA-CN-PRJ-05: OHS-RA-07-JUF-32 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪│╪ص╪ذ ┘ê ╪ز┘à╪»┘è╪» ╪د┘┘â╪د╪ذ┘╪د╪ز - ╪╣┘à┘ ┘ê╪╡┘╪ر ┘à╪│╪ز┘é┘è┘à╪ر ╪ث┘ê ┘┘ç╪د┘è╪ر ╪╖╪▒┘┘è╪ر - ╪د┘╪ث╪╣┘à╪د┘ ╪د┘┘à╪»┘┘è╪ر ╪┤╪د┘à┘╪ر ╪د┘╪ص┘╪▒"},{"step":37,"text":"RA-CN-PRJ-06: OHS-RA-07-JUF-33 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪╡╪ص┘è╪ص ┘à╪│╪ز┘ê┘ë /╪ح╪▓╪د┘╪ر/ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ( EOS)  ╪ث┘ê ┘ê╪ص╪»╪ر ╪د┘┘é┘è╪د╪│ (Metering Unit)"},{"step":38,"text":"RA-CN-PRJ-07: OHS-RA-07-JUF-34 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ╪ص┘┘é┘è"},{"step":39,"text":"RA-CN-PRJ-08: OHS-RA-07-JUF-35 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à┘╪ز╪د╪ص ╪ص┘┘é┘è"},{"step":40,"text":"RA-CN-PRJ-09: OHS-RA-07-JUF-36 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪▓╪د┘╪ر/╪د╪│╪ز╪ذ╪»╪د┘ ┘┘ê╪ص╪ر ╪ز┘ê╪▓┘è╪╣ ╪د┘╪ش┘ç╪» ╪د┘┘à┘╪«┘╪╢ (LVP)"},{"step":41,"text":"RA-CN-PRJ-10: OHS-RA-07-JUF-37 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪╡╪ص┘è╪ص ┘à╪│╪ز┘ê┘ë/╪ح╪▓╪د┘╪ر/╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è ╪د┘┘à╪»┘à╪ش.Unit"},{"step":42,"text":"RA-CN-PRJ-11: OHS-RA-07-JUF-38 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪▓╪د┘╪ر / ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è (INDOOR)/ ╪ذ╪║╪▒┘╪ر ┘à╪ص╪╖╪ر"},{"step":43,"text":"RA-CN-PRJ-12: OHS-RA-07-JUF-39 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪▓╪د┘╪ر - ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘┘à╪ص┘ê┘ ╪د┘╪ث╪▒╪╢┘è"},{"step":44,"text":"RA-CN-PRJ-13: OHS-RA-07-JUF-40 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ/ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص╪╖╪ر"},{"step":45,"text":"RA-CN-PRJ-14: OHS-RA-07-JUF-41 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à╪ص┘ê┘ ╪ث╪▒╪╢┘è"},{"step":46,"text":"RA-CN-PRJ-15: OHS-RA-07-JUF-42 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘â╪د╪ذ┘ ╪╡╪د╪╣╪» ╪ش╪»┘è╪»/ Cabel Riser"},{"step":47,"text":"RA-CN-PRJ-16: OHS-RA-07-JUF-43 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘à╪ص┘ê┘ ┘ç┘ê╪د╪خ┘è"},{"step":48,"text":"RA-CN-PRJ-17: OHS-RA-07-JUF-44 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ╪د┘╪د╪╣┘à╪»╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر"},{"step":49,"text":"RA-CN-PRJ-18: OHS-RA-07-JUF-45 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘à╪» ┘ê╪┤╪» ╪د┘┘à┘ê╪╡┘ ┘ê╪د┘╪╣┘ê╪د╪▓┘ ┘┘╪«╪╖ ╪د┘┘ç┘ê╪د╪خ┘è"},{"step":50,"text":"RA-CN-PRJ-19: OHS-RA-07-JUF-46 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ┘à╪» ┘ê╪┤╪» ╪د┘┘à┘ê╪╡┘ ┘╪ز┘ê╪╡┘è┘ ┘ê╪╡┘╪ر ╪▒╪ذ╪╖ ╪ذ┘è┘ ╪د┘╪«╪╖ ╪د┘┘é╪»┘è┘à ┘ê╪د┘╪ش╪»┘è╪»"},{"step":51,"text":"RA-CN-PRJ-20: OHS-RA-07-JUF-47 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز┘╪د┘à ╪ز╪╡╪▒┘è╪ص (PTW) ┘┘╪╣┘à┘ ╪╣┘┘ë ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ص┘ê┘ ┘ç┘ê╪د╪خ┘è"},{"step":52,"text":"RA-MN-OH-01: OHS-RA-07-JUF-48 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪ث╪╣┘à╪»╪ر ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":53,"text":"RA-MN-OH-02: OHS-RA-07-JUF-49 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘╪╣┘ê╪د╪▓┘ ┘ê┘à╪د┘╪╣╪د╪ز ╪د┘╪╡┘ê╪د╪╣┘é ┘┘╪ش┘ç╪» 13.8 ┘â ┘"},{"step":54,"text":"RA-MN-OH-03: OHS-RA-07-JUF-50 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪╖╪╣ ╪د┘╪ث╪┤╪ش╪د╪▒ ╪د┘┘é╪▒┘è╪ذ╪ر ┘à┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":55,"text":"RA-MN-OH-04: OHS-RA-07-JUF-51 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪▒┘â┘è╪ذ ┘┘ê╪د╪╡┘ ╪ذ ┘è ╪د┘┘à┘ê╪╡┘╪د╪ز ┘┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":56,"text":"RA-MN-OH-05: OHS-RA-07-JUF-52 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪╣╪د╪»╪ر ╪┤╪» ╪د┘┘à┘ê╪╡┘╪د╪ز ┘ê╪د╪│┘╪د┘â ╪د┘╪ز╪س╪ذ┘è╪ز ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":57,"text":"RA-MN-OH-06: OHS-RA-07-JUF-53 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘é╪╢┘è╪ذ ╪ز╪س╪ذ┘è╪ز 13.8 ┘â ┘"},{"step":58,"text":"RA-MN-OH-07: OHS-RA-07-JUF-54 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘╪╕┘è┘ ╪د┘┘à╪▒╪د╪ذ╪╖ ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":59,"text":"RA-MN-OH-08: OHS-RA-07-JUF-55 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à┘╪ز╪د╪ص ┘ç┘ê╪د╪خ┘è 13.8 ┘â ┘"},{"step":60,"text":"RA-MN-OH-09: OHS-RA-07-JUF-56 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز╪║┘è┘è╪▒ ┘à╪╣╪»╪ر ┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":61,"text":"RA-MN-OH-10: OHS-RA-07-JUF-57 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘à╪ذ┘è┘╪د╪ز ╪د┘╪ث╪╣╪╖╪د┘ ┘┘╪┤╪ذ┘â╪ر ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":62,"text":"RA-MN-OH-11: OHS-RA-07-JUF-58 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ح╪╣╪د╪»╪ر ╪ز╪ث╪▒┘è╪╢ ╪د┘╪د╪╣┘à╪»╪ر 13.8 ┘â ┘"},{"step":63,"text":"RA-MN-OH-12: OHS-RA-07-JUF-59 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘╪ز┘è╪┤ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘ ╪ذ╪د┘┘â╪د┘à ┘è╪د ╪د┘╪ص╪▒╪د╪▒┘è╪ر"},{"step":64,"text":"RA-MN-OH-13: OHS-RA-07-JUF-60 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د┘╪ز┘╪ز┘è╪┤ ╪د┘┘╪╕╪▒┘è ┘┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":65,"text":"RA-MN-OH-14: OHS-RA-07-JUF-61 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╖┘╪د╪ة ╪د┘╪د╪╣┘à╪»╪ر ╪د┘╪ص╪»┘è╪»┘è╪ر"},{"step":66,"text":"RA-MN-OH-15: OHS-RA-07-JUF-62 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪║╪│┘è┘ ╪╣┘ê╪د╪▓┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر 13.8 ┘â ┘"},{"step":67,"text":"RA-MN-OH-16: OHS-RA-07-JUF-63 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é┘è╪د╪»╪ر ┘ê╪ز╪┤╪║┘è┘ ┘à╪╣╪»╪ر ╪║╪│┘è┘ ╪د┘╪«╪╖┘ê╪╖ ╪د┘┘ç┘ê╪د╪خ┘è╪ر"},{"step":68,"text":"RA-MN-C-01: OHS-RA-07-JUF-64 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘â╪د╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖ ) ╪╡╪د╪╣╪» ╪╣┘┘ë ╪╣┘à┘ê╪» ("},{"step":69,"text":"RA-MN-C-02: OHS-RA-07-JUF-65 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP )"},{"step":70,"text":"RA-MN-C-03: OHS-RA-07-JUF-66 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP"},{"step":71,"text":"RA-MN-C-04: OHS-RA-07-JUF-67 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪ز┘┘╪ز┘è╪┤ ┘┘ê╪ص╪ر ╪د┘╪ز┘ê╪▓┘è ╪╣ ╪د┘┘╪▒╪╣┘è╪ر ) MP"},{"step":72,"text":"RA-MN-C-05: OHS-RA-07-JUF-68 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ╪د┘ê ╪╡┘è╪د┘╪ر ╪╡┘╪»┘ê┘é ╪«╪»┘à╪ر ) Service Box"},{"step":73,"text":"RA-MN-C-06: OHS-RA-07-JUF-69 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":74,"text":"RA-MN-C-07: OHS-RA-07-JUF-70 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":75,"text":"RA-MN-C-08: OHS-RA-07-JUF-71 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ┘┘ç╪د┘è╪ر ╪╖╪▒┘┘è╪ر ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à┘╪«┘╪╢"},{"step":76,"text":"RA-MN-C-09: OHS-RA-07-JUF-72 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪│╪ز╪ذ╪»╪د┘ ┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":77,"text":"RA-MN-C-10: OHS-RA-07-JUF-73 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╡┘╪د╪ص ┘ê╪╡┘╪ر ┘╪ص╪د┘à ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":78,"text":"RA-MN-C-11: OHS-RA-07-JUF-74 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪د╪╡┘╪د╪ص ╪د┘┘┘ç╪د┘è╪ر ╪د┘╪╖╪▒┘┘è╪ر ┘┘â┘è╪ذ┘ ╪ش┘ç╪» ┘à╪ز┘ê╪│╪╖"},{"step":79,"text":"RA-MN-SS-01: OHS-RA-07-JUF-75 ظ¤ ┘à┘ç┘à╪ر ظ¤ ╪╡┘è╪د┘╪ر ╪د┘┘à╪ص╪╖╪ر ┘╪ز┘è╪ش╪ر ╪ز╪│╪▒┘è╪ذ ╪د┘╪▓┘è╪ز/╪د┘╪ز┘╪▒┘è╪║ ╪د┘╪ش╪▓╪خ┘è"},{"step":80,"text":"RA-MN-SS-02: OHS-RA-07-JUF-76 ظ¤ ┘à┘ç┘à╪ر ظ¤ ┘é╪▒╪د╪ة╪ر ╪د┘╪ث╪ص┘à╪د┘ ┘┘à╪ص┘ê┘╪د╪ز ╪د┘╪ز┘ê╪▓┘è╪╣"}]'::jsonb, '╪د┘╪┤╪▒┘â╪ر ╪د┘╪│╪╣┘ê╪»┘è╪ر ┘┘┘â┘ç╪▒╪ذ╪د╪ة', true, 'SEC');
  END IF;
END $$;
-- Done: 12 SWP + risk template
